In [162]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import re

1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [18]:
def is_vowel(string):
    letter = r'[aeiou]'
    return bool(re.search(letter, string))

In [21]:
print(is_vowel('a'))
print(is_vowel('b'))

True
False

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [63]:
# >>> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')
# False
# >>> is_valid_username('codeup')
# True
# >>> is_valid_username('Codeup')
# False
# >>> is_valid_username('codeup123')
# True
# >>> is_valid_username('1codeup')
# False

In [124]:
def is_valid_username(string):
    user = r'^[a-z+][a-z0-9_]{,31}$'
    return bool(re.search(user, string))

In [127]:
print(is_valid_username('cari_holmes1234'))
print(is_valid_username('Codeup_1234'))
print(is_valid_username('codeUP_1234'))
print(is_valid_username('aaaaaaaaaaaabbbbbbbbbbbbccccccccc'))

True
False
False
False

3. Write a regular expression to capture phone numbers. It should match all of the following:

In [64]:
# (210) 867 5309
# +1 210.867.5309
# 867-5309
# 210-867-5309

In [96]:
numbers = pd.Series(['(210) 867 5309',
'+1 210.867.5309',
'867-5309',
'210-867-5309'])

phone = r'\d+'

In [97]:
numbers

0     (210) 867 5309
1    +1 210.867.5309
2           867-5309
3       210-867-5309
dtype: object

In [98]:
numbers.str.match(phone)

0    False
1    False
2     True
3     True
dtype: bool

In [99]:
df = pd.DataFrame({'phone_number':numbers,
                  'expression': numbers.str.match(phone)})

In [100]:
df

      phone_number  expression
0   (210) 867 5309       False
1  +1 210.867.5309       False
2         867-5309        True
3     210-867-5309        True

4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [65]:
# 02/04/19
# 02/05/19
# 02/06/19
# 02/07/19
# 02/08/19
# 02/09/19
# 02/10/19

In [134]:
dates = pd.Series(['02/04/19',
'02/05/19',
'02/06/19',
'02/07/19',
'02/08/19',
'02/09/19',
'02/10/19'])

format_change = r'(\d+)/(\d+)/(\d+)'
# need / in expression to account for separators

In [135]:
dates

0    02/04/19
1    02/05/19
2    02/06/19
3    02/07/19
4    02/08/19
5    02/09/19
6    02/10/19
dtype: object

In [136]:
# this calls each capture group by numbering them, so call last to first 
dates.str.replace(format_change, r'20\3/\2/\1')

0    2019/04/02
1    2019/05/02
2    2019/06/02
3    2019/07/02
4    2019/08/02
5    2019/09/02
6    2019/10/02
dtype: object

5. Write a regex to extract the various parts of these logfile lines:

In [66]:
# GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
# POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
# GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

6. You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

    - How many words have at least 3 vowels?
    - How many words have at least 3 vowels in a row?
    - How many words have at least 4 consonants in a row?
    - How many words start and end with the same letter?
    - How many words start and end with a vowel?
    - How many words contain the same letter 3 times in a row?
    - What other interesting patterns in words can you find?

In [140]:
words = pd.read_csv('/usr/share/dict/words', header=None).iloc[:,0]

In [141]:
words.head()
words.tail()

235881        zythem
235882        Zythia
235883        zythum
235884       Zyzomys
235885    Zyzzogeton
Name: 0, dtype: object

How many words have at least 3 vowels?

In [145]:
(words.str.count(r'[aeiou]') >= 3).sum()

190293

How many words have at least 3 vowels in a row?

In [147]:
words.str.contains(r'[aeiou]{3,}').sum()

6156

How many words have at least 4 consonants in a row?

In [151]:
words.str.contains(r'[^aeiou]{4,}').sum()

19743

How many words start and end with the same letter?

In [164]:
# wrapping the (.) captures it to match it to the last letter
words.str.contains(r'^(.).*\1$').sum()

9916

How many words start and end with a vowel?

In [155]:
words.str.contains(r'^[aeiou].*[aeiou]$').sum()

12351

How many words contain the same letter 3 times in a row?

In [163]:
words.str.contains(r'(.)\1{2,}').sum()
words.str.contains(r'(.)\1\1').sum()

7

What other interesting patterns in words can you find?

In [166]:
# How many words contain two sets of the same two letters repeated?
# e.g. assassin
words.str.contains(r'((.)\2).*\1').sum()

792