In [1]:
from pydataset import data
import pandas as pd

1. Use a python module containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

    - print the first 3 rows
    - print the number of rows and columns (shape)
    - print the column names
    - print the data type of each column
    - print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [2]:
df_iris = data('iris')

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
(150, 5)
Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')
Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object
       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
No I would not recommend rescaling the data based on the statistics, because the lengths and widths all seem to be in the same units and within a close range.

In [3]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
df_iris.shape

(150, 5)

In [5]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [6]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [7]:
df_iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
print("No I would not recommend rescaling the data based on the statistics, because the lengths and widths all seem to be in the same units and within a close range.")

No I would not recommend rescaling the data based on the statistics, because the lengths and widths all seem to be in the same units and within a close range.

2. Read Table1_CustDetails the excel module dataset, Excel_Exercises.xlsx, into a dataframe, df_excel

    - assign the first 100 rows to a new dataframe, df_excel_sample
    - print the number of rows of your original dataframe
    - print the first 5 column names
    - print the column names that have a data type of object
    - compute the range for each of the numeric variables.

In [9]:
df_excel = pd.read_excel("Excel_Exercises.xlsx")

In [14]:
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,593.30,No
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,542.40,No
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,267.40,Yes
5,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,571.45,No
6,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,7904.25,No
7,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,5377.80,No
8,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,340.35,No
9,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,5957.90,No
10,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,2460.55,No
11,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,8456.75,No
12,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,351.50,No
13,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,7261.25,No
14,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,2560.10,No
15,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,6849.40,No
16,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,1993.20,No
17,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,72.10,No
18,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,2791.50,Yes
19,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,25.10,Yes
20,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,1306.30,No
21,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,1215.60,Yes
22,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,1849.95,No
23,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,57.20,No
24,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,76.35,Yes
25,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,30.50,Yes
26,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,5656.75,No
27,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,1090.60,No
28,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,471.85,No
29,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,1396.90,No
30,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,3247.55,No
31,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,900.90,No
32,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,7942.15,No
33,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,1343.40,No
34,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,825.40,No
35,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,1070.15,No
36,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,4959.60,No
37,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,5597.65,No
38,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,224.50,No
39,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,1929.00,No
40,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,91.10,Yes
41,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,2078.95,No
42,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,630.60,No
43,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,1611.00,No
44,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,1242.45,No
45,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,6316.20,No
46,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,727.85,No
47,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,3532.00,No
48,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,44.30,No
49,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,2607.60,No
50,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,5567.55,No
51,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,3767.40,No
52,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,3673.60,No
53,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,4036.85,Yes
54,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,1120.30,Yes
55,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,314.55,No
56,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,1888.45,No
57,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,529.80,No
58,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,7308.95,No
59,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,6252.70,No
60,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,2878.55,No
61,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,1212.10,No
62,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,8182.85,No
63,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,19.85,Yes
64,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,99.75,Yes
65,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,2861.45,No
66,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,1442.20,No
67,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,4059.35,Yes
68,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,4145.90,No
69,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,3645.50,No
70,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,187.75,No
71,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,2317.10,Yes
72,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,1448.80,Yes
73,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,2193.65,No
74,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,1748.90,No
75,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,511.25,Yes
76,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,5526.75,No
77,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,1553.95,Yes
78,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,1147.00,No
79,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,6747.35,No
80,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,865.05,No
81,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,5976.90,No
82,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,181.65,Yes
83,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,3268.05,No
84,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,1052.40,Yes
85,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,7634.25,No
86,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,80.20,Yes
87,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,63.75,Yes
88,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,190.50,No
89,0141-YEAYS,Female,1,No,No,2,2,0,Bank transfer (automatic),86.45,2401.05,No
90,0142-GVYSN,Male,0,No,No,1,0,0,Electronic check,20.30,511.25,No
91,0147-ESWWR,Female,1,Yes,No,2,2,0,Electronic check,101.25,3949.15,No
92,0148-DCDOS,Male,0,No,No,2,2,0,Bank transfer (automatic),94.70,2362.10,Yes
93,0151-ONTOV,Female,0,No,No,1,2,0,Mailed check,70.90,70.90,Yes
94,0156-FVPTA,Male,0,Yes,No,1,1,0,Electronic check,54.20,1152.70,Yes
95,0164-APGRB,Female,0,No,No,2,2,2,Electronic check,114.90,8496.70,No
96,0164-XAIRP,Female,0,No,No,1,0,2,Bank transfer (automatic),19.55,470.20,No
97,0168-XZKBB,Female,0,Yes,No,2,2,0,Electronic check,86.85,1564.40,No
98,0174-QRVVY,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.35,1847.55,No
99,0177-PXBAT,Male,1,Yes,No,2,2,0,Bank transfer (automatic),109.90,3694.70,No

In [11]:
df_excel.shape

(7049, 12)

In [12]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

In [13]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 12 columns):
customer_id          7049 non-null object
gender               7049 non-null object
is_senior_citizen    7049 non-null int64
partner              7049 non-null object
dependents           7049 non-null object
phone_service        7049 non-null int64
internet_service     7049 non-null int64
contract_type        7049 non-null int64
payment_type         7049 non-null object
monthly_charges      7049 non-null float64
total_charges        7038 non-null float64
churn                7049 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 660.9+ KB

3. Read the data from this google sheet into a dataframe, df_google

    - print the first 3 rows
    - print the number of rows and columns
    - print the column names
    - print the data type of each column
    - print the summary statistics for each of the numeric variables
    - print the unique values for each of your categorical variables

In [30]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_googlesheet = pd.read_csv(csv_export_url)
df_googlesheet.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [31]:
df_google.shape

(891, 12)

In [32]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [33]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [34]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [38]:
df_google.unique()