Our scenario continues:

    As a customer analyst, I want to know who has spent the most money with us over their lifetime. 
    I have monthly charges and tenure, so I think I will be able to use those two attributes as features to estimate total_charges. 
    I need to do this within an average of $5.00 per customer.

Create a file, explore.py, that contains the following functions for exploring your variables (features & target).

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import warnings
warnings.filterwarnings('ignore')

import env
import wrangle
import split_scale

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1695 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1695 non-null object
monthly_charges    1695 non-null float64
tenure             1695 non-null int64
total_charges      1695 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 53.0+ KB
customer_id         0
monthly_charges     0
tenure              0
total_charges      10
dtype: int64
Index(['total_charges'], dtype='object')

In [2]:
df = wrangle.wrangle_telco()
df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75

In [3]:
train, test = split_scale.split_my_data(df)
train.head(), test.head()

(     customer_id  monthly_charges  tenure  total_charges
 119   0707-HOVVN            75.50      70        5212.65
 1424  8380-MQINP            20.30      55        1079.05
 385   2307-FYNNL           109.05      65        7108.20
 1140  6797-LNAQX            98.30      70        6859.50
 1504  8879-XUAHX           116.25      71        8564.75,
      customer_id  monthly_charges  tenure  total_charges
 305   1927-QEWMY            20.50      72        1502.25
 452   2773-OVBPK           111.30      67        7567.20
 917   5574-NXZIU           109.20      63        7049.75
 1421  8347-GDTMP            19.45      64        1225.65
 1557  9178-JHUVJ            24.10      24         587.40)

1. Write a function, plot_variable_pairs(dataframe) that plots all of the pairwise relationships along with the regression line for each pair.

2. Write a function, months_to_years(tenure_months, df) that returns your dataframe with a new feature tenure_years, in complete years as a customer.

3. Write a function, plot_categorical_and_continous_vars(categorical_var, continuous_var, df), that outputs 3 different plots for plotting a categorical variable with a continuous variable, e.g. tenure_years with total_charges. For ideas on effective ways to visualize categorical with continuous: https://datavizcatalogue.com/. You can then look into seaborn and matplotlib documentation for ways to create plots.