### Acquire

1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

    - Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    - Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
    - Only include properties that include a latitude and longitude value.

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from util import get_db_url
import acquire
import summarize

In [2]:
df = acquire.get_zillow_data()

In [4]:
df.head()

,county,tax_rate,id,parcelid,airconditioningtypeid,airconditioningdesc,architecturalstyletypeid,architecturalstyledesc,basementsqft,bathroomcnt,...,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,typeconstructiontypeid,typeconstructiondesc,censustractandblock,transactiondate,logerror,transactions
0,Ventura,0.012225,1387261,17052889,NaN,None,NaN,None,NaN,1.0,...,376000.0,5672.48,None,NaN,NaN,None,6.111001e+13,2017-01-01,0.055619,1
1,Ventura,0.011133,43675,17110996,NaN,None,NaN,None,NaN,2.5,...,99028.0,2204.84,None,NaN,NaN,None,6.111005e+13,2017-01-02,0.008669,1
2,Ventura,0.010838,2490820,17134185,NaN,None,NaN,None,NaN,2.0,...,273509.0,4557.52,None,NaN,NaN,None,6.111006e+13,2017-01-03,0.057690,1
3,Ventura,0.018693,269618,17292247,NaN,None,NaN,None,NaN,2.0,...,24808.0,1450.06,None,NaN,NaN,None,6.111006e+13,2017-01-03,-0.421908,1
4,Ventura,0.010678,74982,17141654,NaN,None,NaN,None,NaN,3.0,...,126138.0,4139.18,None,NaN,NaN,None,6.111005e+13,2017-01-03,-0.021898,1

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [5]:
df.shape

(52169, 72)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52169 entries, 0 to 52168
Data columns (total 72 columns):
county                          52169 non-null object
tax_rate                        52164 non-null float64
id                              52169 non-null int64
parcelid                        52169 non-null int64
airconditioningtypeid           13605 non-null float64
airconditioningdesc             13605 non-null object
architecturalstyletypeid        70 non-null float64
architecturalstyledesc          70 non-null object
basementsqft                    47 non-null float64
bathroomcnt                     52169 non-null float64
bedroomcnt                      52169 non-null float64
buildingclasstypeid             0 non-null object
buildingclassdesc               0 non-null object
buildingqualitytypeid           33628 non-null float64
calculatedbathnbr               52153 non-null float64
calculatedfinishedsquarefeet    52161 non-null float64
decktypeid                      387 non-null float64
finishedfloor1squarefeet        4354 non-null float64
finishedsquarefeet12            52003 non-null float64
finishedsquarefeet13            0 non-null object
finishedsquarefeet15            0 non-null object
finishedsquarefeet50            4354 non-null float64
finishedsquarefeet6             158 non-null float64
fips                            52169 non-null float64
state                           52169 non-null object
fireplacecnt                    7221 non-null float64
fullbathcnt                     52153 non-null float64
garagecarcnt                    17966 non-null float64
garagetotalsqft                 17966 non-null float64
hashottuborspa                  1514 non-null float64
heatingorsystemtypeid           33824 non-null float64
heatingorsystemdesc             33824 non-null object
latitude                        52169 non-null float64
longitude                       52169 non-null float64
lotsizesquarefeet               51815 non-null float64
poolcnt                         11064 non-null float64
poolsizesum                     860 non-null float64
pooltypeid10                    443 non-null float64
pooltypeid2                     1071 non-null float64
pooltypeid7                     9977 non-null float64
propertycountylandusecode       52169 non-null object
propertylandusetypeid           52169 non-null float64
propertylandusedesc             52169 non-null object
propertyzoningdesc              33690 non-null object
rawcensustractandblock          52169 non-null float64
regionidcity                    51141 non-null float64
regionidcounty                  52169 non-null float64
regionidneighborhood            18928 non-null float64
regionidzip                     52146 non-null float64
roomcnt                         52169 non-null float64
storytypeid                     47 non-null float64
storydesc                       47 non-null object
taxvaluedollarcnt               52168 non-null float64
threequarterbathnbr             6716 non-null float64
unitcnt                         33718 non-null float64
yardbuildingsqft17              1926 non-null float64
yardbuildingsqft26              63 non-null float64
yearbuilt                       52129 non-null float64
numberofstories                 14506 non-null float64
fireplaceflag                   81 non-null float64
structuretaxvaluedollarcnt      52097 non-null float64
assessmentyear                  52169 non-null float64
landtaxvaluedollarcnt           52168 non-null float64
taxamount                       52165 non-null float64
taxdelinquencyflag              2060 non-null object
taxdelinquencyyear              2060 non-null float64
typeconstructiontypeid          76 non-null float64
typeconstructiondesc            76 non-null object
censustractandblock             52057 non-null float64
transactiondate                 52169 non-null object
logerror                        52169 non-null float64
transactions                    52169 non-null int64
dtypes: float64(53), int64(3), object(16)
memory usage: 28.7+ MB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
tax_rate,52164.0,1.336932e-02,6.682133e-03,9.372442e-05,1.163577e-02,1.232550e-02,1.368476e-02,8.164900e-01
id,52169.0,1.496932e+06,8.594341e+05,3.490000e+02,7.577390e+05,1.500051e+06,2.241574e+06,2.982270e+06
parcelid,52169.0,1.298891e+07,3.214149e+06,1.071186e+07,1.150831e+07,1.257766e+07,1.412886e+07,1.676392e+08
airconditioningtypeid,13605.0,2.440647e+00,3.849141e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,70.0,7.100000e+00,2.665670e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,47.0,6.789787e+02,7.118252e+02,3.800000e+01,2.635000e+02,5.120000e+02,8.095000e+02,3.560000e+03
bathroomcnt,52169.0,2.305641e+00,1.017982e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,52169.0,3.309475e+00,9.336865e-01,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.400000e+01
buildingqualitytypeid,33628.0,6.265582e+00,1.715854e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,52153.0,2.305658e+00,1.017997e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
calculatedfinishedsquarefeet,52161.0,1.923742e+03,1.003724e+03,1.520000e+02,1.268000e+03,1.660000e+03,2.306000e+03,2.192900e+04
decktypeid,387.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,4354.0,1.544213e+03,6.723361e+02,1.840000e+02,1.151000e+03,1.410000e+03,1.754000e+03,6.912000e+03
finishedsquarefeet12,52003.0,1.925884e+03,1.003646e+03,1.520000e+02,1.270000e+03,1.662000e+03,2.309000e+03,2.192900e+04
finishedsquarefeet50,4354.0,1.565106e+03,7.426816e+02,1.840000e+02,1.152000e+03,1.414000e+03,1.770000e+03,1.246700e+04
finishedsquarefeet6,158.0,1.218747e+03,7.509718e+02,3.800000e+02,7.907500e+02,9.825000e+02,1.294000e+03,5.598000e+03
fips,52169.0,6.049108e+03,2.100189e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,7221.0,1.208697e+00,5.114335e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,52153.0,2.240389e+00,9.932396e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,17966.0,1.949182e+00,5.495034e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,17966.0,4.959473e+02,1.569726e+02,0.000000e+00,4.260000e+02,4.620000e+02,5.670000e+02,4.251000e+03
hashottuborspa,1514.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,33824.0,3.965202e+00,2.562664e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,52169.0,3.402263e+07,2.739762e+05,3.334062e+07,3.382697e+07,3.402363e+07,3.418725e+07,3.481877e+07
longitude,52169.0,-1.181939e+08,3.563193e+05,-1.194754e+08,-1.184007e+08,-1.181530e+08,-1.179291e+08,-1.175546e+08
lotsizesquarefeet,51815.0,1.122787e+04,8.665629e+04,2.360000e+02,5.580000e+03,6.838000e+03,8.776500e+03,6.971010e+06
poolcnt,11064.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,860.0,5.184826e+02,1.560620e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,443.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1071.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,9977.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,52169.0,2.610000e+02,0.000000e+00,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.610000e+02
rawcensustractandblock,52169.0,6.049420e+07,2.084172e+05,6.037101e+07,6.037401e+07,6.037620e+07,6.059042e+07,6.111009e+07
regionidcity,51141.0,3.350368e+04,4.917717e+04,3.491000e+03,1.244700e+04,2.481200e+04,4.022700e+04,3.965560e+05
regionidcounty,52169.0,2.524969e+03,8.039885e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,18928.0,1.801529e+05,1.599662e+05,6.952000e+03,4.113100e+04,1.182080e+05,2.745140e+05,7.641670e+05
regionidzip,52146.0,9.663630e+04,4.616851e+03,9.598200e+04,9.620600e+04,9.641200e+04,9.699500e+04,3.996750e+05
roomcnt,52169.0,1.898005e+00,3.148714e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,1.500000e+01
storytypeid,47.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
taxvaluedollarcnt,52168.0,5.283505e+05,7.485000e+05,1.000000e+03,1.942450e+05,3.740080e+05,6.189465e+05,4.906124e+07
threequarterbathnbr,6716.0,1.013699e+00,1.427001e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,33718.0,1.000830e+00,2.981726e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00
yardbuildingsqft17,1926.0,3.373193e+02,2.499075e+02,1.100000e+01,2.000000e+02,2.800000e+02,4.000000e+02,3.191000e+03
yardbuildingsqft26,63.0,2.256190e+02,1.885051e+02,1.200000e+01,7.150000e+01,1.800000e+02,3.170000e+02,8.680000e+02
yearbuilt,52129.0,1.963447e+03,2.310994e+01,1.878000e+03,1.950000e+03,1.961000e+03,1.979000e+03,2.016000e+03
numberofstories,14506.0,1.414380e+00,5.407975e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,81.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,52097.0,1.959668e+05,2.524114e+05,1.480000e+02,7.718700e+04,1.318740e+05,2.261200e+05,9.164901e+06
assessmentyear,52169.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,52168.0,3.326503e+05,5.687052e+05,1.610000e+02,7.634075e+04,2.180790e+05,4.083510e+05,4.895220e+07
taxamount,52165.0,6.437583e+03,8.710541e+03,4.918000e+01,2.662540e+03,4.650320e+03,7.373220e+03,5.866393e+05
taxdelinquencyyear,2060.0,1.409854e+01,2.404565e+00,4.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
typeconstructiontypeid,76.0,5.973684e+00,2.294157e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00
censustractandblock,52057.0,6.050222e+13,1.863605e+12,6.037101e+13,6.037401e+13,6.037620e+13,6.059042e+13,4.830301e+14
logerror,52169.0,1.816031e-02,1.761657e-01,-4.655420e+00,-2.463954e-02,6.933871e-03,4.053402e-02,5.262999e+00
transactions,52169.0,1.002300e+00,4.869954e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00

In [8]:
df.dtypes

county                           object
tax_rate                        float64
id                                int64
parcelid                          int64
airconditioningtypeid           float64
airconditioningdesc              object
architecturalstyletypeid        float64
architecturalstyledesc           object
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid              object
buildingclassdesc                object
buildingqualitytypeid           float64
calculatedbathnbr               float64
calculatedfinishedsquarefeet    float64
decktypeid                      float64
finishedfloor1squarefeet        float64
finishedsquarefeet12            float64
finishedsquarefeet13             object
finishedsquarefeet15             object
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
state                            object
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  float64
                                 ...
propertylandusedesc              object
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
storydesc                        object
taxvaluedollarcnt               float64
threequarterbathnbr             float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   float64
structuretaxvaluedollarcnt      float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
typeconstructiontypeid          float64
typeconstructiondesc             object
censustractandblock             float64
transactiondate                  object
logerror                        float64
transactions                      int64
Length: 72, dtype: object

In [9]:
df.id.value_counts()

657407     1
1181077    1
253358     1
1441194    1
910761     1
2841485    1
1555874    1
1727902    1
958481     1
2194056    1
1076632    1
660887     1
1969556    1
2442621    1
2768274    1
2114674    1
2142897    1
1889679    1
2335556    1
1244554    1
2135431    1
2792838    1
2930051    1
846670     1
811953     1
2174384    1
2825654    1
231285     1
1414631    1
324198     1
          ..
1613625    1
1636148    1
1361714    1
931203     1
1318761    1
1849196    1
2615190    1
1326957    1
391060     1
247698     1
113587     1
1562512    1
2568079    1
468878     1
343949     1
210828     1
200587     1
2688906    1
71560      1
1009542    1
2488189    1
1920899    1
2386655    1
2011007    1
1068175    1
2555765    1
2404       1
929647     1
2500462    1
2232322    1
Name: id, Length: 52169, dtype: int64

In [ ]:
# Look to see if there are any nulls in each row

In [10]:
df.isnull().sum()

county                              0
tax_rate                            5
id                                  0
parcelid                            0
airconditioningtypeid           38564
airconditioningdesc             38564
architecturalstyletypeid        52099
architecturalstyledesc          52099
basementsqft                    52122
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             52169
buildingclassdesc               52169
buildingqualitytypeid           18541
calculatedbathnbr                  16
calculatedfinishedsquarefeet        8
decktypeid                      51782
finishedfloor1squarefeet        47815
finishedsquarefeet12              166
finishedsquarefeet13            52169
finishedsquarefeet15            52169
finishedsquarefeet50            47815
finishedsquarefeet6             52011
fips                                0
state                               0
fireplacecnt                    44948
fullbathcnt                        16
garagecarcnt                    34203
garagetotalsqft                 34203
hashottuborspa                  50655
                                ...
propertylandusedesc                 0
propertyzoningdesc              18479
rawcensustractandblock              0
regionidcity                     1028
regionidcounty                      0
regionidneighborhood            33241
regionidzip                        23
roomcnt                             0
storytypeid                     52122
storydesc                       52122
taxvaluedollarcnt                   1
threequarterbathnbr             45453
unitcnt                         18451
yardbuildingsqft17              50243
yardbuildingsqft26              52106
yearbuilt                          40
numberofstories                 37663
fireplaceflag                   52088
structuretaxvaluedollarcnt         72
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
taxdelinquencyflag              50109
taxdelinquencyyear              50109
typeconstructiontypeid          52093
typeconstructiondesc            52093
censustractandblock               112
transactiondate                     0
logerror                            0
transactions                        0
Length: 72, dtype: int64

In [ ]:
# Look to see if there are any nulls in each column

In [11]:
df.isnull().sum(axis=1)

0        33
1        33
2        33
3        34
4        33
5        33
6        32
7        33
8        34
9        31
10       32
11       33
12       33
13       32
14       29
15       32
16       30
17       29
18       34
19       34
20       31
21       32
22       33
23       33
24       33
25       33
26       35
27       31
28       32
29       32
         ..
52139    36
52140    34
52141    32
52142    37
52143    37
52144    36
52145    34
52146    32
52147    32
52148    37
52149    34
52150    33
52151    36
52152    32
52153    34
52154    35
52155    29
52156    35
52157    35
52158    34
52159    37
52160    35
52161    34
52162    29
52163    33
52164    36
52165    32
52166    36
52167    34
52168    37
Length: 52169, dtype: int64

In [ ]:
# Use created summarize function to quickly run a summary on all data.

In [12]:
summarize.df_summary(df)

--- Shape: (52169, 72)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52169 entries, 0 to 52168
Data columns (total 72 columns):
county                          52169 non-null object
tax_rate                        52164 non-null float64
id                              52169 non-null int64
parcelid                        52169 non-null int64
airconditioningtypeid           13605 non-null float64
airconditioningdesc             13605 non-null object
architecturalstyletypeid        70 non-null float64
architecturalstyledesc          70 non-null object
basementsqft                    47 non-null float64
bathroomcnt                     52169 non-null float64
bedroomcnt                      52169 non-null float64
buildingclasstypeid             0 non-null object
buildingclassdesc               0 non-null object
buildingqualitytypeid           33628 non-null float64
calculatedbathnbr               52153 non-null float64
calculatedfinishedsquarefeet    52161 non-null float64
decktypeid                      387 non-null float64
finishedfloor1squarefeet        4354 non-null float64
finishedsquarefeet12            52003 non-null float64
finishedsquarefeet13            0 non-null object
finishedsquarefeet15            0 non-null object
finishedsquarefeet50            4354 non-null float64
finishedsquarefeet6             158 non-null float64
fips                            52169 non-null float64
state                           52169 non-null object
fireplacecnt                    7221 non-null float64
fullbathcnt                     52153 non-null float64
garagecarcnt                    17966 non-null float64
garagetotalsqft                 17966 non-null float64
hashottuborspa                  1514 non-null float64
heatingorsystemtypeid           33824 non-null float64
heatingorsystemdesc             33824 non-null object
latitude                        52169 non-null float64
longitude                       52169 non-null float64
lotsizesquarefeet               51815 non-null float64
poolcnt                         11064 non-null float64
poolsizesum                     860 non-null float64
pooltypeid10                    443 non-null float64
pooltypeid2                     1071 non-null float64
pooltypeid7                     9977 non-null float64
propertycountylandusecode       52169 non-null object
propertylandusetypeid           52169 non-null float64
propertylandusedesc             52169 non-null object
propertyzoningdesc              33690 non-null object
rawcensustractandblock          52169 non-null float64
regionidcity                    51141 non-null float64
regionidcounty                  52169 non-null float64
regionidneighborhood            18928 non-null float64
regionidzip                     52146 non-null float64
roomcnt                         52169 non-null float64
storytypeid                     47 non-null float64
storydesc                       47 non-null object
taxvaluedollarcnt               52168 non-null float64
threequarterbathnbr             6716 non-null float64
unitcnt                         33718 non-null float64
yardbuildingsqft17              1926 non-null float64
yardbuildingsqft26              63 non-null float64
yearbuilt                       52129 non-null float64
numberofstories                 14506 non-null float64
fireplaceflag                   81 non-null float64
structuretaxvaluedollarcnt      52097 non-null float64
assessmentyear                  52169 non-null float64
landtaxvaluedollarcnt           52168 non-null float64
taxamount                       52165 non-null float64
taxdelinquencyflag              2060 non-null object
taxdelinquencyyear              2060 non-null float64
typeconstructiontypeid          76 non-null float64
typeconstructiondesc            76 non-null object
censustractandblock             52057 non-null float64
transactiondate                 52169 non-null object
logerror                        52169 non-null float64
transactions                    52169 non-null int64
dtypes: float64(53), int64(3), object(16)
memory usage: 28.7+ MB
--- Descriptions
             county      tax_rate            id      parcelid  \
count         52169  52164.000000  5.216900e+04  5.216900e+04
unique            3           NaN           NaN           NaN
top     Los Angeles           NaN           NaN           NaN
freq          33752           NaN           NaN           NaN
mean            NaN      0.013369  1.496932e+06  1.298891e+07
std             NaN      0.006682  8.594341e+05  3.214149e+06
min             NaN      0.000094  3.490000e+02  1.071186e+07
25%             NaN      0.011636  7.577390e+05  1.150831e+07
50%             NaN      0.012325  1.500051e+06  1.257766e+07
75%             NaN      0.013685  2.241574e+06  1.412886e+07
max             NaN      0.816490  2.982270e+06  1.676392e+08

        airconditioningtypeid airconditioningdesc  architecturalstyletypeid  \
count            13605.000000               13605                  70.00000
unique                    NaN                   4                       NaN
top                       NaN             Central                       NaN
freq                      NaN               11863                       NaN
mean                 2.440647                 NaN                   7.10000
std                  3.849141                 NaN                   2.66567
min                  1.000000                 NaN                   2.00000
25%                  1.000000                 NaN                   7.00000
50%                  1.000000                 NaN                   7.00000
75%                  1.000000                 NaN                   7.00000
max                 13.000000                 NaN                  21.00000

       architecturalstyledesc  basementsqft   bathroomcnt  ...  \
count                      70     47.000000  52169.000000  ...
unique                      5           NaN           NaN  ...
top              Contemporary           NaN           NaN  ...
freq                       62           NaN           NaN  ...
mean                      NaN    678.978723      2.305641  ...
std                       NaN    711.825226      1.017982  ...
min                       NaN     38.000000      1.000000  ...
25%                       NaN    263.500000      2.000000  ...
50%                       NaN    512.000000      2.000000  ...
75%                       NaN    809.500000      3.000000  ...
max                       NaN   3560.000000     18.000000  ...

        landtaxvaluedollarcnt      taxamount  taxdelinquencyflag  \
count            5.216800e+04   52165.000000                2060
unique                    NaN            NaN                   1
top                       NaN            NaN                   Y
freq                      NaN            NaN                2060
mean             3.326503e+05    6437.583033                 NaN
std              5.687052e+05    8710.541335                 NaN
min              1.610000e+02      49.180000                 NaN
25%              7.634075e+04    2662.540000                 NaN
50%              2.180790e+05    4650.320000                 NaN
75%              4.083510e+05    7373.220000                 NaN
max              4.895220e+07  586639.300000                 NaN

        taxdelinquencyyear  typeconstructiontypeid  typeconstructiondesc  \
count          2060.000000               76.000000                    76
unique                 NaN                     NaN                     2
top                    NaN                     NaN                 Frame
freq                   NaN                     NaN                    75
mean             14.098544                5.973684                   NaN
std               2.404565                0.229416                   NaN
min               4.000000                4.000000                   NaN
25%              14.000000                6.000000                   NaN
50%              15.000000                6.000000                   NaN
75%              15.000000                6.000000                   NaN
max              99.000000                6.000000                   NaN

        censustractandblock  transactiondate      logerror  transactions
count          5.205700e+04            52169  52169.000000    52169.0000
unique                  NaN              258           NaN           NaN
top                     NaN       2017-06-30           NaN           NaN
freq                    NaN              806           NaN           NaN
mean           6.050222e+13              NaN      0.018160        1.0023
std            1.863605e+12              NaN      0.176166        0.0487
min            6.037101e+13              NaN     -4.655420        1.0000
25%            6.037401e+13              NaN     -0.024640        1.0000
50%            6.037620e+13              NaN      0.006934        1.0000
75%            6.059042e+13              NaN      0.040534        1.0000
max            4.830301e+14              NaN      5.262999        3.0000

[11 rows x 72 columns]
--- Nulls By Column
                              num_rows_missing  pct_rows_missing
county                                       0          0.000000
tax_rate                                     5          0.000096
id                                           0          0.000000
parcelid                                     0          0.000000
airconditioningtypeid                    38564          0.739213
airconditioningdesc                      38564          0.739213
architecturalstyletypeid                 52099          0.998658
architecturalstyledesc                   52099          0.998658
basementsqft                             52122          0.999099
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingclasstypeid                      52169          1.000000
buildingclassdesc                        52169          1.000000
buildingqualitytypeid                    18541          0.355403
calculatedbathnbr                           16          0.000307
calculatedfinishedsquarefeet                 8          0.000153
decktypeid                               51782          0.992582
finishedfloor1squarefeet                 47815          0.916540
finishedsquarefeet12                       166          0.003182
finishedsquarefeet13                     52169          1.000000
finishedsquarefeet15                     52169          1.000000
finishedsquarefeet50                     47815          0.916540
finishedsquarefeet6                      52011          0.996971
fips                                         0          0.000000
state                                        0          0.000000
fireplacecnt                             44948          0.861584
fullbathcnt                                 16          0.000307
garagecarcnt                             34203          0.655619
garagetotalsqft                          34203          0.655619
hashottuborspa                           50655          0.970979
...                                        ...               ...
propertylandusedesc                          0          0.000000
propertyzoningdesc                       18479          0.354214
rawcensustractandblock                       0          0.000000
regionidcity                              1028          0.019705
regionidcounty                               0          0.000000
regionidneighborhood                     33241          0.637179
regionidzip                                 23          0.000441
roomcnt                                      0          0.000000
storytypeid                              52122          0.999099
storydesc                                52122          0.999099
taxvaluedollarcnt                            1          0.000019
threequarterbathnbr                      45453          0.871265
unitcnt                                  18451          0.353677
yardbuildingsqft17                       50243          0.963082
yardbuildingsqft26                       52106          0.998792
yearbuilt                                   40          0.000767
numberofstories                          37663          0.721942
fireplaceflag                            52088          0.998447
structuretaxvaluedollarcnt                  72          0.001380
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        1          0.000019
taxamount                                    4          0.000077
taxdelinquencyflag                       50109          0.960513
taxdelinquencyyear                       50109          0.960513
typeconstructiontypeid                   52093          0.998543
typeconstructiondesc                     52093          0.998543
censustractandblock                        112          0.002147
transactiondate                              0          0.000000
logerror                                     0          0.000000
transactions                                 0          0.000000

[72 rows x 2 columns]
--- Nulls By Row

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        12
2                25   34.72222222222222        11
3                26   36.11111111111111        30
4                27                37.5       177
5                28   38.88888888888889       389
6                29   40.27777777777778      2527
7                30   41.66666666666667      2194
8                31   43.05555555555556      5986
9                32   44.44444444444444      8880
10               33   45.83333333333333     11960
11               34   47.22222222222222     11151
12               35   48.61111111111111      3459
13               36                50.0      4121
14               37  51.388888888888886      1016
15               38   52.77777777777778       214
16               39  54.166666666666664        22
17               40   55.55555555555556        13
18               41   56.94444444444444         3
19               42  58.333333333333336         1
20               44  61.111111111111114         1
--- Value Counts
Los Angeles                         33752
Orange                              14061
Ventura                              4356
(-0.0017230000000000001, 0.0817]    52125
(0.0817, 0.163]                        30
(0.163, 0.245]                          3
(0.245, 0.327]                          2
(0.327, 0.408]                          1
(0.408, 0.49]                           1
(0.49, 0.572]                           1
(0.572, 0.653]                          0
(0.653, 0.735]                          0
(0.735, 0.816]                          1
(-2632.922, 298541.1]                5152
(298541.1, 596733.2]                 5120
(596733.2, 894925.3]                 5123
(894925.3, 1193117.4]                5235
(1193117.4, 1491309.5]               5306
(1491309.5, 1789501.6]               5329
(1789501.6, 2087693.7]               5226
(2087693.7, 2385885.8]               5167
(2385885.8, 2684077.9]               5223
(2684077.9, 2982270.0]               5288
(10554927.702, 26404584.7]          52152
(26404584.7, 42097314.4]                0
(42097314.4, 57790044.1]                0
(57790044.1, 73482773.8]                0
(73482773.8, 89175503.5]                1
(89175503.5, 104868233.2]               0
(104868233.2, 120560962.9]              0
                                    ...
2017-09-10                              1
2017-07-08                              1
2017-08-13                              1
2017-09-09                              1
2018-05-25                              1
2017-09-20                              1
2017-05-13                              1
2017-09-17                              1
2017-06-03                              1
2017-09-02                              1
(-4.666, -3.664]                        2
(-3.664, -2.672]                        0
(-2.672, -1.68]                        26
(-1.68, -0.688]                       106
(-0.688, 0.304]                     50689
(0.304, 1.296]                       1215
(1.296, 2.287]                         75
(2.287, 3.279]                         54
(3.279, 4.271]                          1
(4.271, 5.263]                          1
(0.997, 1.2]                        52051
(1.2, 1.4]                              0
(1.4, 1.6]                              0
(1.6, 1.8]                              0
(1.8, 2.0]                            116
(2.0, 2.2]                              0
(2.2, 2.4]                              0
(2.4, 2.6]                              0
(2.6, 2.8]                              0
(2.8, 3.0]                              2
Length: 2148, dtype: int64

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [13]:
number_rows = df.isnull().sum()
number_rows

county                              0
tax_rate                            5
id                                  0
parcelid                            0
airconditioningtypeid           38564
airconditioningdesc             38564
architecturalstyletypeid        52099
architecturalstyledesc          52099
basementsqft                    52122
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             52169
buildingclassdesc               52169
buildingqualitytypeid           18541
calculatedbathnbr                  16
calculatedfinishedsquarefeet        8
decktypeid                      51782
finishedfloor1squarefeet        47815
finishedsquarefeet12              166
finishedsquarefeet13            52169
finishedsquarefeet15            52169
finishedsquarefeet50            47815
finishedsquarefeet6             52011
fips                                0
state                               0
fireplacecnt                    44948
fullbathcnt                        16
garagecarcnt                    34203
garagetotalsqft                 34203
hashottuborspa                  50655
                                ...
propertylandusedesc                 0
propertyzoningdesc              18479
rawcensustractandblock              0
regionidcity                     1028
regionidcounty                      0
regionidneighborhood            33241
regionidzip                        23
roomcnt                             0
storytypeid                     52122
storydesc                       52122
taxvaluedollarcnt                   1
threequarterbathnbr             45453
unitcnt                         18451
yardbuildingsqft17              50243
yardbuildingsqft26              52106
yearbuilt                          40
numberofstories                 37663
fireplaceflag                   52088
structuretaxvaluedollarcnt         72
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
taxdelinquencyflag              50109
taxdelinquencyyear              50109
typeconstructiontypeid          52093
typeconstructiondesc            52093
censustractandblock               112
transactiondate                     0
logerror                            0
transactions                        0
Length: 72, dtype: int64

In [14]:
rows = df.shape[0]
rows

52169

In [15]:
pct_missing = number_rows/rows
pct_missing

county                          0.000000
tax_rate                        0.000096
id                              0.000000
parcelid                        0.000000
airconditioningtypeid           0.739213
airconditioningdesc             0.739213
architecturalstyletypeid        0.998658
architecturalstyledesc          0.998658
basementsqft                    0.999099
bathroomcnt                     0.000000
bedroomcnt                      0.000000
buildingclasstypeid             1.000000
buildingclassdesc               1.000000
buildingqualitytypeid           0.355403
calculatedbathnbr               0.000307
calculatedfinishedsquarefeet    0.000153
decktypeid                      0.992582
finishedfloor1squarefeet        0.916540
finishedsquarefeet12            0.003182
finishedsquarefeet13            1.000000
finishedsquarefeet15            1.000000
finishedsquarefeet50            0.916540
finishedsquarefeet6             0.996971
fips                            0.000000
state                           0.000000
fireplacecnt                    0.861584
fullbathcnt                     0.000307
garagecarcnt                    0.655619
garagetotalsqft                 0.655619
hashottuborspa                  0.970979
                                  ...
propertylandusedesc             0.000000
propertyzoningdesc              0.354214
rawcensustractandblock          0.000000
regionidcity                    0.019705
regionidcounty                  0.000000
regionidneighborhood            0.637179
regionidzip                     0.000441
roomcnt                         0.000000
storytypeid                     0.999099
storydesc                       0.999099
taxvaluedollarcnt               0.000019
threequarterbathnbr             0.871265
unitcnt                         0.353677
yardbuildingsqft17              0.963082
yardbuildingsqft26              0.998792
yearbuilt                       0.000767
numberofstories                 0.721942
fireplaceflag                   0.998447
structuretaxvaluedollarcnt      0.001380
assessmentyear                  0.000000
landtaxvaluedollarcnt           0.000019
taxamount                       0.000077
taxdelinquencyflag              0.960513
taxdelinquencyyear              0.960513
typeconstructiontypeid          0.998543
typeconstructiondesc            0.998543
censustractandblock             0.002147
transactiondate                 0.000000
logerror                        0.000000
transactions                    0.000000
Length: 72, dtype: float64

In [16]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    pct_missing = num_missing/rows
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'pct_rows_missing': pct_missing})
    return cols_missing

In [17]:
nulls_by_col(df)

                              num_rows_missing  pct_rows_missing
county                                       0          0.000000
tax_rate                                     5          0.000096
id                                           0          0.000000
parcelid                                     0          0.000000
airconditioningtypeid                    38564          0.739213
airconditioningdesc                      38564          0.739213
architecturalstyletypeid                 52099          0.998658
architecturalstyledesc                   52099          0.998658
basementsqft                             52122          0.999099
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingclasstypeid                      52169          1.000000
buildingclassdesc                        52169          1.000000
buildingqualitytypeid                    18541          0.355403
calculatedbathnbr                           16          0.000307
calculatedfinishedsquarefeet                 8          0.000153
decktypeid                               51782          0.992582
finishedfloor1squarefeet                 47815          0.916540
finishedsquarefeet12                       166          0.003182
finishedsquarefeet13                     52169          1.000000
finishedsquarefeet15                     52169          1.000000
finishedsquarefeet50                     47815          0.916540
finishedsquarefeet6                      52011          0.996971
fips                                         0          0.000000
state                                        0          0.000000
fireplacecnt                             44948          0.861584
fullbathcnt                                 16          0.000307
garagecarcnt                             34203          0.655619
garagetotalsqft                          34203          0.655619
hashottuborspa                           50655          0.970979
...                                        ...               ...
propertylandusedesc                          0          0.000000
propertyzoningdesc                       18479          0.354214
rawcensustractandblock                       0          0.000000
regionidcity                              1028          0.019705
regionidcounty                               0          0.000000
regionidneighborhood                     33241          0.637179
regionidzip                                 23          0.000441
roomcnt                                      0          0.000000
storytypeid                              52122          0.999099
storydesc                                52122          0.999099
taxvaluedollarcnt                            1          0.000019
threequarterbathnbr                      45453          0.871265
unitcnt                                  18451          0.353677
yardbuildingsqft17                       50243          0.963082
yardbuildingsqft26                       52106          0.998792
yearbuilt                                   40          0.000767
numberofstories                          37663          0.721942
fireplaceflag                            52088          0.998447
structuretaxvaluedollarcnt                  72          0.001380
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        1          0.000019
taxamount                                    4          0.000077
taxdelinquencyflag                       50109          0.960513
taxdelinquencyyear                       50109          0.960513
typeconstructiontypeid                   52093          0.998543
typeconstructiondesc                     52093          0.998543
censustractandblock                        112          0.002147
transactiondate                              0          0.000000
logerror                                     0          0.000000
transactions                                 0          0.000000

[72 rows x 2 columns]

4. Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values.

In [18]:
num_cols_missing = df.isnull().sum(axis=1)
num_cols_missing

0        33
1        33
2        33
3        34
4        33
5        33
6        32
7        33
8        34
9        31
10       32
11       33
12       33
13       32
14       29
15       32
16       30
17       29
18       34
19       34
20       31
21       32
22       33
23       33
24       33
25       33
26       35
27       31
28       32
29       32
         ..
52139    36
52140    34
52141    32
52142    37
52143    37
52144    36
52145    34
52146    32
52147    32
52148    37
52149    34
52150    33
52151    36
52152    32
52153    34
52154    35
52155    29
52156    35
52157    35
52158    34
52159    37
52160    35
52161    34
52162    29
52163    33
52164    36
52165    32
52166    36
52167    34
52168    37
Length: 52169, dtype: int64

In [19]:
pct_cols_missing = df.isnull().sum(axis=1)/df.shape[1]*100
pct_cols_missing

0        45.833333
1        45.833333
2        45.833333
3        47.222222
4        45.833333
5        45.833333
6        44.444444
7        45.833333
8        47.222222
9        43.055556
10       44.444444
11       45.833333
12       45.833333
13       44.444444
14       40.277778
15       44.444444
16       41.666667
17       40.277778
18       47.222222
19       47.222222
20       43.055556
21       44.444444
22       45.833333
23       45.833333
24       45.833333
25       45.833333
26       48.611111
27       43.055556
28       44.444444
29       44.444444
           ...
52139    50.000000
52140    47.222222
52141    44.444444
52142    51.388889
52143    51.388889
52144    50.000000
52145    47.222222
52146    44.444444
52147    44.444444
52148    51.388889
52149    47.222222
52150    45.833333
52151    50.000000
52152    44.444444
52153    47.222222
52154    48.611111
52155    40.277778
52156    48.611111
52157    48.611111
52158    47.222222
52159    51.388889
52160    48.611111
52161    47.222222
52162    40.277778
52163    45.833333
52164    50.000000
52165    44.444444
52166    50.000000
52167    47.222222
52168    51.388889
Length: 52169, dtype: float64

In [20]:
def nulls_by_row(df):
    num_cols_missing = df.isnull().sum(axis=1)
    pct_cols_missing = df.isnull().sum(axis=1)/df.shape[1]*100
    rows_missing = pd.DataFrame({'num_cols_missing': num_cols_missing, 'pct_cols_missing': pct_cols_missing}).reset_index().groupby(['num_cols_missing','pct_cols_missing']).count().rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing

In [21]:
nulls_by_row(df)

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        12
2                25   34.72222222222222        11
3                26   36.11111111111111        30
4                27                37.5       177
5                28   38.88888888888889       389
6                29   40.27777777777778      2527
7                30   41.66666666666667      2194
8                31   43.05555555555556      5986
9                32   44.44444444444444      8880
10               33   45.83333333333333     11960
11               34   47.22222222222222     11151
12               35   48.61111111111111      3459
13               36                50.0      4121
14               37  51.388888888888886      1016
15               38   52.77777777777778       214
16               39  54.166666666666664        22
17               40   55.55555555555556        13
18               41   56.94444444444444         3
19               42  58.333333333333336         1
20               44  61.111111111111114         1

### Prepare

1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

**Brought in only Single Family Residential properties in my SQL query. Used 'propertylandusetypeid' to get this.**

2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

 - The input:
    - A dataframe
    - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
 - The output:
    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
 - hint:
    - Look up the dropna documentation.
    - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
    - Make use of inplace, i.e. inplace=True/False.

In [ ]:
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .75):
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

3. Decide how to handle the remaining missing values:

    - Fill with constant value.
    - Impute with mean, median, mode.
    - Drop row/column

In [ ]:
def fill_zero(df, cols):
    df.fillna(value=0, inplace=True)
    return df

In [ ]:
def remove_columns(df, cols_to_remove):  
    df = df.drop(columns=cols_to_remove)
    return df

In [ ]:
def data_prep(df, cols_to_remove=[], prop_required_column=.5, prop_required_row=.75):
    df = remove_columns(df, cols_to_remove)
    df = handle_missing_values(df, prop_required_column, prop_required_row)
    return df

##### wrangle_zillow.py
Functions of the work above needed to acquire and prepare a new sample of data.