1. Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

    - Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
    - Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
    - Only include properties that include a latitude and longitude value.

In [15]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from util import get_db_url
import acquire
import summarize

In [16]:
df = acquire.get_zillow_data()

In [17]:
df.head()

,county,tax_rate,id,parcelid,airconditioningtypeid,airconditioningdesc,architecturalstyletypeid,architecturalstyledesc,basementsqft,bathroomcnt,...,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,typeconstructiontypeid,typeconstructiondesc,censustractandblock,transactiondate,logerror,transactions
0,Ventura,0.012225,1387261,17052889,NaN,None,NaN,None,NaN,1.0,...,376000.0,5672.48,None,NaN,NaN,None,6.111001e+13,2017-01-01,0.055619,1
1,Ventura,0.010596,1447245,17143294,NaN,None,NaN,None,NaN,2.0,...,132424.0,3508.10,None,NaN,NaN,None,6.111005e+13,2017-01-01,-0.020526,1
2,Ventura,0.011133,43675,17110996,NaN,None,NaN,None,NaN,2.5,...,99028.0,2204.84,None,NaN,NaN,None,6.111005e+13,2017-01-02,0.008669,1
3,Ventura,0.012201,1327940,17153340,NaN,None,NaN,None,NaN,3.5,...,522030.0,12738.54,None,NaN,NaN,None,6.111004e+13,2017-01-02,-0.095340,1
4,Ventura,0.014142,1431120,17153706,NaN,None,NaN,None,NaN,2.5,...,239000.0,8442.56,None,NaN,NaN,None,6.111004e+13,2017-01-02,0.027817,1

2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [4]:
df.shape

(77381, 72)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 72 columns):
county                          77381 non-null object
tax_rate                        77375 non-null float64
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
dtypes: float64(56), int64(3), object(13)
memory usage: 42.5+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
tax_rate,77375.0,1.316904e-02,5.828083e-03,9.372442e-05,1.165990e-02,1.228447e-02,1.345336e-02,8.164900e-01
id,77381.0,1.495139e+06,8.609071e+05,3.490000e+02,7.520700e+05,1.497932e+06,2.240535e+06,2.982274e+06
parcelid,77381.0,1.300715e+07,3.481346e+06,1.071186e+07,1.153830e+07,1.253157e+07,1.421183e+07,1.676893e+08
airconditioningtypeid,24953.0,1.813289e+00,2.967894e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.300000e+01
architecturalstyletypeid,206.0,7.388350e+00,2.734542e+00,2.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,2.100000e+01
basementsqft,50.0,6.797200e+02,6.897035e+02,3.800000e+01,2.730000e+02,5.150000e+02,7.965000e+02,3.560000e+03
bathroomcnt,77381.0,2.299130e+00,9.966507e-01,0.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
bedroomcnt,77381.0,3.053489e+00,1.139096e+00,0.000000e+00,2.000000e+00,3.000000e+00,4.000000e+00,1.600000e+01
buildingclasstypeid,15.0,3.933333e+00,2.581989e-01,3.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
buildingqualitytypeid,49672.0,6.534587e+00,1.721953e+00,1.000000e+00,6.000000e+00,6.000000e+00,8.000000e+00,1.200000e+01
calculatedbathnbr,76772.0,2.316867e+00,9.797549e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
calculatedfinishedsquarefeet,77185.0,1.785220e+03,9.540493e+02,1.280000e+02,1.182000e+03,1.543000e+03,2.113000e+03,3.564000e+04
decktypeid,614.0,6.600000e+01,0.000000e+00,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01,6.600000e+01
finishedfloor1squarefeet,6023.0,1.366513e+03,6.713081e+02,4.400000e+01,9.550000e+02,1.257000e+03,1.615000e+03,6.912000e+03
finishedsquarefeet12,73749.0,1.760523e+03,9.340243e+02,1.280000e+02,1.172000e+03,1.523000e+03,2.076000e+03,2.192900e+04
finishedsquarefeet13,41.0,1.389854e+03,1.235317e+02,1.056000e+03,1.344000e+03,1.440000e+03,1.440000e+03,1.560000e+03
finishedsquarefeet15,3009.0,2.357792e+03,1.188775e+03,5.980000e+02,1.625000e+03,2.094000e+03,2.838000e+03,3.564000e+04
finishedsquarefeet50,6023.0,1.381772e+03,7.264689e+02,4.400000e+01,9.560000e+02,1.259000e+03,1.621500e+03,1.246700e+04
finishedsquarefeet6,386.0,2.082500e+03,1.240383e+03,3.800000e+02,9.937500e+02,1.812500e+03,3.053500e+03,5.598000e+03
fips,77381.0,6.048819e+03,2.074820e+01,6.037000e+03,6.037000e+03,6.037000e+03,6.059000e+03,6.111000e+03
fireplacecnt,8276.0,1.191155e+00,4.910796e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,5.000000e+00
fullbathcnt,76772.0,2.250482e+00,9.665521e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.800000e+01
garagecarcnt,25474.0,1.815459e+00,5.883449e-01,0.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.400000e+01
garagetotalsqft,25474.0,3.501120e+02,2.616816e+02,0.000000e+00,0.000000e+00,4.360000e+02,4.930000e+02,4.251000e+03
hashottuborspa,1538.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
heatingorsystemtypeid,49440.0,3.920510e+00,3.592779e+00,1.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.400000e+01
latitude,77381.0,3.400837e+07,2.653888e+05,3.333953e+07,3.381457e+07,3.402200e+07,3.417439e+07,3.481877e+07
longitude,77381.0,-1.182036e+08,3.594826e+05,-1.194754e+08,-1.184153e+08,-1.181808e+08,-1.179284e+08,-1.175546e+08
lotsizesquarefeet,69142.0,2.996928e+04,1.233711e+05,2.360000e+02,5.700000e+03,7.206000e+03,1.183100e+04,6.971010e+06
poolcnt,16137.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
poolsizesum,867.0,5.179170e+02,1.567160e+02,2.400000e+01,4.240000e+02,5.000000e+02,6.000000e+02,1.500000e+03
pooltypeid10,464.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid2,1074.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
pooltypeid7,15042.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
propertylandusetypeid,77381.0,2.618263e+02,5.141199e+00,3.100000e+01,2.610000e+02,2.610000e+02,2.660000e+02,2.750000e+02
rawcensustractandblock,77381.0,6.049129e+07,2.059052e+05,6.037101e+07,6.037311e+07,6.037603e+07,6.059042e+07,6.111009e+07
regionidcity,75910.0,3.367124e+04,4.716982e+04,3.491000e+03,1.244700e+04,2.521800e+04,4.545700e+04,3.965560e+05
regionidcounty,77381.0,2.534158e+03,8.015934e+02,1.286000e+03,1.286000e+03,3.101000e+03,3.101000e+03,3.101000e+03
regionidneighborhood,30890.0,1.877349e+05,1.651188e+05,6.952000e+03,4.673600e+04,1.188490e+05,2.747650e+05,7.641670e+05
regionidzip,77331.0,9.658709e+04,3.798347e+03,9.598200e+04,9.619300e+04,9.638900e+04,9.698700e+04,3.996750e+05
roomcnt,77381.0,1.476952e+00,2.824386e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
storytypeid,50.0,7.000000e+00,0.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
taxvaluedollarcnt,77380.0,4.901345e+05,6.534440e+05,1.000000e+03,2.070000e+05,3.589755e+05,5.690015e+05,4.906124e+07
threequarterbathnbr,10096.0,1.009608e+00,1.186301e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,7.000000e+00
unitcnt,50563.0,1.110021e+00,1.171154e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.370000e+02
yardbuildingsqft17,2388.0,3.054112e+02,2.383928e+02,1.100000e+01,1.700000e+02,2.510000e+02,3.640000e+02,3.191000e+03
yardbuildingsqft26,70.0,2.163857e+02,1.901775e+02,1.200000e+01,6.150000e+01,1.645000e+02,3.105000e+02,8.680000e+02
yearbuilt,77118.0,1.968636e+03,2.378603e+01,1.824000e+03,1.953000e+03,1.970000e+03,1.987000e+03,2.016000e+03
numberofstories,17560.0,1.434738e+00,5.445687e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,6.000000e+00
fireplaceflag,172.0,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
structuretaxvaluedollarcnt,77269.0,1.893145e+05,2.300874e+05,4.400000e+01,8.426500e+04,1.364990e+05,2.187870e+05,1.142179e+07
assessmentyear,77381.0,2.016000e+03,0.000000e+00,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03,2.016000e+03
landtaxvaluedollarcnt,77379.0,3.010954e+05,4.925960e+05,1.610000e+02,8.550400e+04,2.033720e+05,3.667965e+05,4.895220e+07
taxamount,77376.0,5.995532e+03,7.622844e+03,1.992000e+01,2.715632e+03,4.450695e+03,6.927790e+03,5.866393e+05
taxdelinquencyyear,2886.0,1.408732e+01,2.185663e+00,3.000000e+00,1.400000e+01,1.500000e+01,1.500000e+01,9.900000e+01
typeconstructiontypeid,222.0,6.040541e+00,5.572847e-01,4.000000e+00,6.000000e+00,6.000000e+00,6.000000e+00,1.300000e+01
censustractandblock,77137.0,6.049673e+13,1.535242e+12,6.037101e+13,6.037311e+13,6.037603e+13,6.059042e+13,4.830301e+14
logerror,77381.0,1.662499e-02,1.701908e-01,-4.655420e+00,-2.437679e-02,6.626972e-03,3.920313e-02,5.262999e+00
transactions,77381.0,1.002572e+00,5.165749e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00

In [7]:
# Looking at the datatypes of each column

In [8]:
df.dtypes

county                           object
tax_rate                        float64
id                                int64
parcelid                          int64
airconditioningtypeid           float64
airconditioningdesc              object
architecturalstyletypeid        float64
architecturalstyledesc           object
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingclassdesc                object
buildingqualitytypeid           float64
calculatedbathnbr               float64
calculatedfinishedsquarefeet    float64
decktypeid                      float64
finishedfloor1squarefeet        float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
state                            object
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  float64
                                 ...
propertylandusedesc              object
propertyzoningdesc               object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
storydesc                        object
taxvaluedollarcnt               float64
threequarterbathnbr             float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   float64
structuretaxvaluedollarcnt      float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag               object
taxdelinquencyyear              float64
typeconstructiontypeid          float64
typeconstructiondesc             object
censustractandblock             float64
transactiondate                  object
logerror                        float64
transactions                      int64
Length: 72, dtype: object

In [9]:
df.id.value_counts()

657407     1
1100492    1
1029681    1
1440602    1
133844     1
2800516    1
1315543    1
420568     1
2561795    1
1211098    1
659480     1
548826     1
1589981    1
2644702    1
1682144    1
478866     1
1231284    1
2153166    1
2159307    1
2720485    1
1374922    1
1011929    1
1078297    1
2042544    1
336561     1
1127091    1
727734     1
2056889    1
942844     1
2706108    1
          ..
163109     1
2647334    1
1469735    1
357654     1
1312042    1
2231595    1
2630958    1
2837404    1
2807088    1
1408279    1
154868     1
2592027    1
1285401    1
2069784    1
736525     1
220417     1
738562     1
490757     1
201992     1
1246474    1
2700556    1
2567439    1
1699095    1
1299728    1
1170705    1
1690899    1
1570068    1
1965333    1
648470     1
2392597    1
Name: id, Length: 77381, dtype: int64

In [10]:
# Look to see if there are any nulls in each row

In [11]:
df.isnull().sum()

county                              0
tax_rate                            6
id                                  0
parcelid                            0
airconditioningtypeid           52428
airconditioningdesc             52428
architecturalstyletypeid        77175
architecturalstyledesc          77175
basementsqft                    77331
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             77366
buildingclassdesc               77366
buildingqualitytypeid           27709
calculatedbathnbr                 609
calculatedfinishedsquarefeet      196
decktypeid                      76767
finishedfloor1squarefeet        71358
finishedsquarefeet12             3632
finishedsquarefeet13            77340
finishedsquarefeet15            74372
finishedsquarefeet50            71358
finishedsquarefeet6             76995
fips                                0
state                               0
fireplacecnt                    69105
fullbathcnt                       609
garagecarcnt                    51907
garagetotalsqft                 51907
hashottuborspa                  75843
                                ...
propertylandusedesc                 0
propertyzoningdesc              27050
rawcensustractandblock              0
regionidcity                     1471
regionidcounty                      0
regionidneighborhood            46491
regionidzip                        50
roomcnt                             0
storytypeid                     77331
storydesc                       77331
taxvaluedollarcnt                   1
threequarterbathnbr             67285
unitcnt                         26818
yardbuildingsqft17              74993
yardbuildingsqft26              77311
yearbuilt                         263
numberofstories                 59821
fireplaceflag                   77209
structuretaxvaluedollarcnt        112
assessmentyear                      0
landtaxvaluedollarcnt               2
taxamount                           5
taxdelinquencyflag              74495
taxdelinquencyyear              74495
typeconstructiontypeid          77159
typeconstructiondesc            77159
censustractandblock               244
transactiondate                     0
logerror                            0
transactions                        0
Length: 72, dtype: int64

In [12]:
# Look to see if there are any nulls in each column

In [13]:
df.isnull().sum(axis=1)

0        33
1        33
2        33
3        32
4        32
5        33
6        33
7        34
8        33
9        33
10       32
11       33
12       33
13       34
14       31
15       32
16       33
17       33
18       32
19       29
20       32
21       30
22       29
23       34
24       34
25       31
26       32
27       33
28       33
29       33
         ..
77351    31
77352    34
77353    29
77354    33
77355    32
77356    34
77357    34
77358    35
77359    29
77360    35
77361    35
77362    34
77363    35
77364    34
77365    37
77366    35
77367    34
77368    29
77369    37
77370    33
77371    38
77372    35
77373    37
77374    37
77375    36
77376    38
77377    32
77378    36
77379    34
77380    37
Length: 77381, dtype: int64

In [14]:
summarize.df_summary(df)

--- Shape: (77381, 72)
--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 72 columns):
county                          77381 non-null object
tax_rate                        77375 non-null float64
id                              77381 non-null int64
parcelid                        77381 non-null int64
airconditioningtypeid           24953 non-null float64
airconditioningdesc             24953 non-null object
architecturalstyletypeid        206 non-null float64
architecturalstyledesc          206 non-null object
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
buildingclasstypeid             15 non-null float64
buildingclassdesc               15 non-null object
buildingqualitytypeid           49672 non-null float64
calculatedbathnbr               76772 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
decktypeid                      614 non-null float64
finishedfloor1squarefeet        6023 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
state                           77381 non-null object
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
heatingorsystemtypeid           49440 non-null float64
heatingorsystemdesc             49440 non-null object
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
pooltypeid10                    464 non-null float64
pooltypeid2                     1074 non-null float64
pooltypeid7                     15042 non-null float64
propertycountylandusecode       77381 non-null object
propertylandusetypeid           77381 non-null float64
propertylandusedesc             77381 non-null object
propertyzoningdesc              50331 non-null object
rawcensustractandblock          77381 non-null float64
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
storytypeid                     50 non-null float64
storydesc                       50 non-null object
taxvaluedollarcnt               77380 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
typeconstructiontypeid          222 non-null float64
typeconstructiondesc            222 non-null object
censustractandblock             77137 non-null float64
transactiondate                 77381 non-null object
logerror                        77381 non-null float64
transactions                    77381 non-null int64
dtypes: float64(56), int64(3), object(13)
memory usage: 42.5+ MB
--- Descriptions
             county      tax_rate            id      parcelid  \
count         77381  77375.000000  7.738100e+04  7.738100e+04
unique            3           NaN           NaN           NaN
top     Los Angeles           NaN           NaN           NaN
freq          50551           NaN           NaN           NaN
mean            NaN      0.013169  1.495139e+06  1.300715e+07
std             NaN      0.005828  8.609071e+05  3.481346e+06
min             NaN      0.000094  3.490000e+02  1.071186e+07
25%             NaN      0.011660  7.520700e+05  1.153830e+07
50%             NaN      0.012284  1.497932e+06  1.253157e+07
75%             NaN      0.013453  2.240535e+06  1.421183e+07
max             NaN      0.816490  2.982274e+06  1.676893e+08

        airconditioningtypeid airconditioningdesc  architecturalstyletypeid  \
count            24953.000000               24953                206.000000
unique                    NaN                   5                       NaN
top                       NaN             Central                       NaN
freq                      NaN               23133                       NaN
mean                 1.813289                 NaN                  7.388350
std                  2.967894                 NaN                  2.734542
min                  1.000000                 NaN                  2.000000
25%                  1.000000                 NaN                  7.000000
50%                  1.000000                 NaN                  7.000000
75%                  1.000000                 NaN                  7.000000
max                 13.000000                 NaN                 21.000000

       architecturalstyledesc  basementsqft   bathroomcnt  ...  \
count                     206     50.000000  77381.000000  ...
unique                      5           NaN           NaN  ...
top              Contemporary           NaN           NaN  ...
freq                      172           NaN           NaN  ...
mean                      NaN    679.720000      2.299130  ...
std                       NaN    689.703546      0.996651  ...
min                       NaN     38.000000      0.000000  ...
25%                       NaN    273.000000      2.000000  ...
50%                       NaN    515.000000      2.000000  ...
75%                       NaN    796.500000      3.000000  ...
max                       NaN   3560.000000     18.000000  ...

        landtaxvaluedollarcnt      taxamount taxdelinquencyflag  \
count            7.737900e+04   77376.000000               2886
unique                    NaN            NaN                  1
top                       NaN            NaN                  Y
freq                      NaN            NaN               2886
mean             3.010954e+05    5995.532346                NaN
std              4.925960e+05    7622.844153                NaN
min              1.610000e+02      19.920000                NaN
25%              8.550400e+04    2715.632500                NaN
50%              2.033720e+05    4450.695000                NaN
75%              3.667965e+05    6927.790000                NaN
max              4.895220e+07  586639.300000                NaN

        taxdelinquencyyear  typeconstructiontypeid  typeconstructiondesc  \
count          2886.000000              222.000000                   222
unique                 NaN                     NaN                     4
top                    NaN                     NaN                 Frame
freq                   NaN                     NaN                   219
mean             14.087318                6.040541                   NaN
std               2.185663                0.557285                   NaN
min               3.000000                4.000000                   NaN
25%              14.000000                6.000000                   NaN
50%              15.000000                6.000000                   NaN
75%              15.000000                6.000000                   NaN
max              99.000000               13.000000                   NaN

        censustractandblock  transactiondate      logerror  transactions
count          7.713700e+04            77381  77381.000000  77381.000000
unique                  NaN              265           NaN           NaN
top                     NaN       2017-06-30           NaN           NaN
freq                    NaN             1189           NaN           NaN
mean           6.049673e+13              NaN      0.016625      1.002572
std            1.535242e+12              NaN      0.170191      0.051657
min            6.037101e+13              NaN     -4.655420      1.000000
25%            6.037311e+13              NaN     -0.024377      1.000000
50%            6.037603e+13              NaN      0.006627      1.000000
75%            6.059042e+13              NaN      0.039203      1.000000
max            4.830301e+14              NaN      5.262999      3.000000

[11 rows x 72 columns]
--- Nulls By Column
                              num_rows_missing  pct_rows_missing
county                                       0          0.000000
tax_rate                                     6          0.000078
id                                           0          0.000000
parcelid                                     0          0.000000
airconditioningtypeid                    52428          0.677531
airconditioningdesc                      52428          0.677531
architecturalstyletypeid                 77175          0.997338
architecturalstyledesc                   77175          0.997338
basementsqft                             77331          0.999354
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingclasstypeid                      77366          0.999806
buildingclassdesc                        77366          0.999806
buildingqualitytypeid                    27709          0.358085
calculatedbathnbr                          609          0.007870
calculatedfinishedsquarefeet               196          0.002533
decktypeid                               76767          0.992065
finishedfloor1squarefeet                 71358          0.922164
finishedsquarefeet12                      3632          0.046937
finishedsquarefeet13                     77340          0.999470
finishedsquarefeet15                     74372          0.961114
finishedsquarefeet50                     71358          0.922164
finishedsquarefeet6                      76995          0.995012
fips                                         0          0.000000
state                                        0          0.000000
fireplacecnt                             69105          0.893049
fullbathcnt                                609          0.007870
garagecarcnt                             51907          0.670798
garagetotalsqft                          51907          0.670798
hashottuborspa                           75843          0.980124
...                                        ...               ...
propertylandusedesc                          0          0.000000
propertyzoningdesc                       27050          0.349569
rawcensustractandblock                       0          0.000000
regionidcity                              1471          0.019010
regionidcounty                               0          0.000000
regionidneighborhood                     46491          0.600806
regionidzip                                 50          0.000646
roomcnt                                      0          0.000000
storytypeid                              77331          0.999354
storydesc                                77331          0.999354
taxvaluedollarcnt                            1          0.000013
threequarterbathnbr                      67285          0.869529
unitcnt                                  26818          0.346571
yardbuildingsqft17                       74993          0.969140
yardbuildingsqft26                       77311          0.999095
yearbuilt                                  263          0.003399
numberofstories                          59821          0.773071
fireplaceflag                            77209          0.997777
structuretaxvaluedollarcnt                 112          0.001447
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        2          0.000026
taxamount                                    5          0.000065
taxdelinquencyflag                       74495          0.962704
taxdelinquencyyear                       74495          0.962704
typeconstructiontypeid                   77159          0.997131
typeconstructiondesc                     77159          0.997131
censustractandblock                        244          0.003153
transactiondate                              0          0.000000
logerror                                     0          0.000000
transactions                                 0          0.000000

[72 rows x 2 columns]
--- Nulls By Row

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        13
2                25   34.72222222222222        24
3                26   36.11111111111111        65
4                27                37.5       316
5                28   38.88888888888889       455
6                29   40.27777777777778      5270
7                30   41.66666666666667      3455
8                31   43.05555555555556      9891
9                32   44.44444444444444     12578
10               33   45.83333333333333     14783
11               34   47.22222222222222     13326
12               35   48.61111111111111      5147
13               36                50.0      5776
14               37  51.388888888888886      3620
15               38   52.77777777777778      1926
16               39  54.166666666666664       285
17               40   55.55555555555556       230
18               41   56.94444444444444        29
19               42  58.333333333333336        23
20               43   59.72222222222222        28
21               44  61.111111111111114        78
22               45                62.5        50
23               46  63.888888888888886         5
24               47   65.27777777777779         3
25               48   66.66666666666666         3
--- Value Counts
Los Angeles                         50551
Orange                              20593
Ventura                              6237
(-0.0017230000000000001, 0.0817]    77331
(0.0817, 0.163]                        33
(0.163, 0.245]                          4
(0.245, 0.327]                          3
(0.327, 0.408]                          1
(0.408, 0.49]                           1
(0.49, 0.572]                           1
(0.572, 0.653]                          0
(0.653, 0.735]                          0
(0.735, 0.816]                          1
(-2632.9260000000004, 298541.5]      7739
(298541.5, 596734.0]                 7682
(596734.0, 894926.5]                 7585
(894926.5, 1193119.0]                7694
(1193119.0, 1491311.5]               7827
(1491311.5, 1789504.0]               7813
(1789504.0, 2087696.5]               7794
(2087696.5, 2385889.0]               7698
(2385889.0, 2684081.5]               7710
(2684081.5, 2982274.0]               7839
(10554877.537, 26409601.2]          77350
(26409601.2, 42107347.4]                0
(42107347.4, 57805093.6]                0
(57805093.6, 73502839.8]                0
(73502839.8, 89200586.0]                1
(89200586.0, 104898332.2]               1
(104898332.2, 120596078.4]              0
                                    ...
2017-09-10                              1
2017-03-12                              1
2017-09-25                              1
2017-06-03                              1
2017-08-12                              1
2017-05-20                              1
2017-07-08                              1
2017-08-05                              1
2018-05-25                              1
2017-02-18                              1
(-4.666, -3.664]                        3
(-3.664, -2.672]                        1
(-2.672, -1.68]                        36
(-1.68, -0.688]                       142
(-0.688, 0.304]                     75340
(0.304, 1.296]                       1684
(1.296, 2.287]                        102
(2.287, 3.279]                         71
(3.279, 4.271]                          1
(4.271, 5.263]                          1
(0.997, 1.2]                        77186
(1.2, 1.4]                              0
(1.4, 1.6]                              0
(1.6, 1.8]                              0
(1.8, 2.0]                            191
(2.0, 2.2]                              0
(2.2, 2.4]                              0
(2.4, 2.6]                              0
(2.6, 2.8]                              0
(2.8, 3.0]                              4
Length: 2882, dtype: int64

3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [21]:
number_rows = df.isnull().sum()
number_rows

county                              0
tax_rate                            6
id                                  0
parcelid                            0
airconditioningtypeid           52428
airconditioningdesc             52428
architecturalstyletypeid        77175
architecturalstyledesc          77175
basementsqft                    77331
bathroomcnt                         0
bedroomcnt                          0
buildingclasstypeid             77366
buildingclassdesc               77366
buildingqualitytypeid           27709
calculatedbathnbr                 609
calculatedfinishedsquarefeet      196
decktypeid                      76767
finishedfloor1squarefeet        71358
finishedsquarefeet12             3632
finishedsquarefeet13            77340
finishedsquarefeet15            74372
finishedsquarefeet50            71358
finishedsquarefeet6             76995
fips                                0
state                               0
fireplacecnt                    69105
fullbathcnt                       609
garagecarcnt                    51907
garagetotalsqft                 51907
hashottuborspa                  75843
                                ...
propertylandusedesc                 0
propertyzoningdesc              27050
rawcensustractandblock              0
regionidcity                     1471
regionidcounty                      0
regionidneighborhood            46491
regionidzip                        50
roomcnt                             0
storytypeid                     77331
storydesc                       77331
taxvaluedollarcnt                   1
threequarterbathnbr             67285
unitcnt                         26818
yardbuildingsqft17              74993
yardbuildingsqft26              77311
yearbuilt                         263
numberofstories                 59821
fireplaceflag                   77209
structuretaxvaluedollarcnt        112
assessmentyear                      0
landtaxvaluedollarcnt               2
taxamount                           5
taxdelinquencyflag              74495
taxdelinquencyyear              74495
typeconstructiontypeid          77159
typeconstructiondesc            77159
censustractandblock               244
transactiondate                     0
logerror                            0
transactions                        0
Length: 72, dtype: int64

In [22]:
rows = df.shape[0]
rows

77381

In [24]:
pct_missing = number_rows/rows
pct_missing

county                          0.000000
tax_rate                        0.000078
id                              0.000000
parcelid                        0.000000
airconditioningtypeid           0.677531
airconditioningdesc             0.677531
architecturalstyletypeid        0.997338
architecturalstyledesc          0.997338
basementsqft                    0.999354
bathroomcnt                     0.000000
bedroomcnt                      0.000000
buildingclasstypeid             0.999806
buildingclassdesc               0.999806
buildingqualitytypeid           0.358085
calculatedbathnbr               0.007870
calculatedfinishedsquarefeet    0.002533
decktypeid                      0.992065
finishedfloor1squarefeet        0.922164
finishedsquarefeet12            0.046937
finishedsquarefeet13            0.999470
finishedsquarefeet15            0.961114
finishedsquarefeet50            0.922164
finishedsquarefeet6             0.995012
fips                            0.000000
state                           0.000000
fireplacecnt                    0.893049
fullbathcnt                     0.007870
garagecarcnt                    0.670798
garagetotalsqft                 0.670798
hashottuborspa                  0.980124
                                  ...
propertylandusedesc             0.000000
propertyzoningdesc              0.349569
rawcensustractandblock          0.000000
regionidcity                    0.019010
regionidcounty                  0.000000
regionidneighborhood            0.600806
regionidzip                     0.000646
roomcnt                         0.000000
storytypeid                     0.999354
storydesc                       0.999354
taxvaluedollarcnt               0.000013
threequarterbathnbr             0.869529
unitcnt                         0.346571
yardbuildingsqft17              0.969140
yardbuildingsqft26              0.999095
yearbuilt                       0.003399
numberofstories                 0.773071
fireplaceflag                   0.997777
structuretaxvaluedollarcnt      0.001447
assessmentyear                  0.000000
landtaxvaluedollarcnt           0.000026
taxamount                       0.000065
taxdelinquencyflag              0.962704
taxdelinquencyyear              0.962704
typeconstructiontypeid          0.997131
typeconstructiondesc            0.997131
censustractandblock             0.003153
transactiondate                 0.000000
logerror                        0.000000
transactions                    0.000000
Length: 72, dtype: float64

In [25]:
def nulls_by_col(df):
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    pct_missing = num_missing/rows
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'pct_rows_missing': pct_missing})
    return cols_missing

In [26]:
nulls_by_col(df)

                              num_rows_missing  pct_rows_missing
county                                       0          0.000000
tax_rate                                     6          0.000078
id                                           0          0.000000
parcelid                                     0          0.000000
airconditioningtypeid                    52428          0.677531
airconditioningdesc                      52428          0.677531
architecturalstyletypeid                 77175          0.997338
architecturalstyledesc                   77175          0.997338
basementsqft                             77331          0.999354
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingclasstypeid                      77366          0.999806
buildingclassdesc                        77366          0.999806
buildingqualitytypeid                    27709          0.358085
calculatedbathnbr                          609          0.007870
calculatedfinishedsquarefeet               196          0.002533
decktypeid                               76767          0.992065
finishedfloor1squarefeet                 71358          0.922164
finishedsquarefeet12                      3632          0.046937
finishedsquarefeet13                     77340          0.999470
finishedsquarefeet15                     74372          0.961114
finishedsquarefeet50                     71358          0.922164
finishedsquarefeet6                      76995          0.995012
fips                                         0          0.000000
state                                        0          0.000000
fireplacecnt                             69105          0.893049
fullbathcnt                                609          0.007870
garagecarcnt                             51907          0.670798
garagetotalsqft                          51907          0.670798
hashottuborspa                           75843          0.980124
...                                        ...               ...
propertylandusedesc                          0          0.000000
propertyzoningdesc                       27050          0.349569
rawcensustractandblock                       0          0.000000
regionidcity                              1471          0.019010
regionidcounty                               0          0.000000
regionidneighborhood                     46491          0.600806
regionidzip                                 50          0.000646
roomcnt                                      0          0.000000
storytypeid                              77331          0.999354
storydesc                                77331          0.999354
taxvaluedollarcnt                            1          0.000013
threequarterbathnbr                      67285          0.869529
unitcnt                                  26818          0.346571
yardbuildingsqft17                       74993          0.969140
yardbuildingsqft26                       77311          0.999095
yearbuilt                                  263          0.003399
numberofstories                          59821          0.773071
fireplaceflag                            77209          0.997777
structuretaxvaluedollarcnt                 112          0.001447
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        2          0.000026
taxamount                                    5          0.000065
taxdelinquencyflag                       74495          0.962704
taxdelinquencyyear                       74495          0.962704
typeconstructiontypeid                   77159          0.997131
typeconstructiondesc                     77159          0.997131
censustractandblock                        244          0.003153
transactiondate                              0          0.000000
logerror                                     0          0.000000
transactions                                 0          0.000000

[72 rows x 2 columns]

In [28]:
num_cols_missing = df.isnull().sum(axis=1)
num_cols_missing

0        33
1        33
2        33
3        32
4        32
5        33
6        33
7        34
8        33
9        33
10       32
11       33
12       33
13       34
14       31
15       32
16       33
17       33
18       32
19       29
20       32
21       30
22       29
23       34
24       34
25       31
26       32
27       33
28       33
29       33
         ..
77351    31
77352    34
77353    29
77354    33
77355    32
77356    34
77357    34
77358    35
77359    29
77360    35
77361    35
77362    34
77363    35
77364    34
77365    37
77366    35
77367    34
77368    29
77369    37
77370    33
77371    38
77372    35
77373    37
77374    37
77375    36
77376    38
77377    32
77378    36
77379    34
77380    37
Length: 77381, dtype: int64

In [29]:
pct_cols_missing = df.isnull().sum(axis=1)/df.shape[1]*100
pct_cols_missing

0        45.833333
1        45.833333
2        45.833333
3        44.444444
4        44.444444
5        45.833333
6        45.833333
7        47.222222
8        45.833333
9        45.833333
10       44.444444
11       45.833333
12       45.833333
13       47.222222
14       43.055556
15       44.444444
16       45.833333
17       45.833333
18       44.444444
19       40.277778
20       44.444444
21       41.666667
22       40.277778
23       47.222222
24       47.222222
25       43.055556
26       44.444444
27       45.833333
28       45.833333
29       45.833333
           ...
77351    43.055556
77352    47.222222
77353    40.277778
77354    45.833333
77355    44.444444
77356    47.222222
77357    47.222222
77358    48.611111
77359    40.277778
77360    48.611111
77361    48.611111
77362    47.222222
77363    48.611111
77364    47.222222
77365    51.388889
77366    48.611111
77367    47.222222
77368    40.277778
77369    51.388889
77370    45.833333
77371    52.777778
77372    48.611111
77373    51.388889
77374    51.388889
77375    50.000000
77376    52.777778
77377    44.444444
77378    50.000000
77379    47.222222
77380    51.388889
Length: 77381, dtype: float64

In [30]:
def nulls_by_row(df):
    num_cols_missing = df.isnull().sum(axis=1)
    pct_cols_missing = df.isnull().sum(axis=1)/df.shape[1]*100
    rows_missing = pd.DataFrame({'num_cols_missing': num_cols_missing, 'pct_cols_missing': pct_cols_missing}).reset_index().groupby(['num_cols_missing','pct_cols_missing']).count().rename(index=str, columns={'index': 'num_rows'}).reset_index()
    return rows_missing

In [31]:
nulls_by_row(df)

   num_cols_missing    pct_cols_missing  num_rows
0                23  31.944444444444443         2
1                24   33.33333333333333        13
2                25   34.72222222222222        24
3                26   36.11111111111111        65
4                27                37.5       316
5                28   38.88888888888889       455
6                29   40.27777777777778      5270
7                30   41.66666666666667      3455
8                31   43.05555555555556      9891
9                32   44.44444444444444     12578
10               33   45.83333333333333     14783
11               34   47.22222222222222     13326
12               35   48.61111111111111      5147
13               36                50.0      5776
14               37  51.388888888888886      3620
15               38   52.77777777777778      1926
16               39  54.166666666666664       285
17               40   55.55555555555556       230
18               41   56.94444444444444        29
19               42  58.333333333333336        23
20               43   59.72222222222222        28
21               44  61.111111111111114        78
22               45                62.5        50
23               46  63.888888888888886         5
24               47   65.27777777777779         3
25               48   66.66666666666666         3