In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn import metrics
import matplotlib.dates as mdates
%matplotlib inline
import seaborn as sns

Time series + EMA

Discover users who are accessing our curriculum pages way beyond the end of their codeup time. What would the dataframe look like? Use time series method for detecting anomalies, like exponential moving average with %b.

Bonus:

Can you label students who are viewing both the web dev and data science curriculum? Can you label students by the program they are in? Can you label users by student vs. staff? What are Zach, Maggie, David, and Ryan's ids?

In [21]:
colnames=['date', 'timestamp', 'content', 'num1', 'num2',
          'ip', 'destination']
df = pd.read_csv('anonymized-curriculum-access.csv', sep=" ",          
                  engine='python',
                  header=None,
                  names=colnames)

In [22]:
df.head()

,date,timestamp,content,num1,num2,ip,destination
0,2018-01-26,09:55:03,/,1.0,8.0,97.105.19.61,NaN
1,2018-01-26,09:56:02,java-ii,1.0,8.0,97.105.19.61,NaN
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1.0,8.0,97.105.19.61,NaN
3,2018-01-26,09:56:06,slides/object_oriented_programming,1.0,8.0,97.105.19.61,NaN
4,2018-01-26,09:56:24,javascript-i/conditionals,2.0,22.0,97.105.19.61,NaN

In [23]:
df.shape

(4130, 7)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4130 entries, 0 to 4129
Data columns (total 7 columns):
date           4130 non-null object
timestamp      4129 non-null object
content        4127 non-null object
num1           4127 non-null float64
num2           3915 non-null float64
ip             4127 non-null object
destination    0 non-null float64
dtypes: float64(3), object(4)
memory usage: 225.9+ KB

In [25]:
df.describe()

              num1         num2  destination
count  4127.000000  3915.000000          0.0
mean     27.236976    20.429119          NaN
std      19.174899     3.758182          NaN
min       1.000000     1.000000          NaN
25%      10.000000    21.000000          NaN
50%      23.000000    22.000000          NaN
75%      42.000000    22.000000          NaN
max      79.000000    22.000000          NaN