In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
from sklearn import metrics
import matplotlib.dates as mdates
%matplotlib inline
import seaborn as sns

Time series + EMA

Discover users who are accessing our curriculum pages way beyond the end of their codeup time. What would the dataframe look like? Use time series method for detecting anomalies, like exponential moving average with %b.

Bonus:

Can you label students who are viewing both the web dev and data science curriculum? Can you label students by the program they are in? Can you label users by student vs. staff? What are Zach, Maggie, David, and Ryan's ids?

In [2]:
colnames=['date', 'timestamp', 'content', 'num1', 'num2',
          'ip']
df = pd.read_csv('anonymized-curriculum-access.txt', sep=r'\s(?=(?:[^"]*"[^"]*")*[^"]*$)(?![^\[]*\])',
                  engine='python',
                  header=None,
                  names=colnames)

In [3]:
df.head()

,date,timestamp,content,num1,num2,ip
0,2018-01-26,09:55:03,/,1,8.0,97.105.19.61
1,2018-01-26,09:56:02,java-ii,1,8.0,97.105.19.61
2,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61

In [4]:
df.shape

(399195, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399195 entries, 0 to 399194
Data columns (total 6 columns):
date         399195 non-null object
timestamp    399195 non-null object
content      399195 non-null object
num1         399195 non-null int64
num2         372441 non-null float64
ip           399195 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 18.3+ MB

In [6]:
df.describe()

                num1           num2
count  399195.000000  372441.000000
mean      268.794667      26.912649
std       147.587312       7.846146
min         1.000000       1.000000
25%       157.000000      23.000000
50%       288.000000      27.000000
75%       392.000000      31.000000
max       543.000000      52.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399195 entries, 0 to 399194
Data columns (total 6 columns):
date         399195 non-null object
timestamp    399195 non-null object
content      399195 non-null object
num1         399195 non-null int64
num2         372441 non-null float64
ip           399195 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 18.3+ MB

In [8]:
# combine date and timestamp, then change to datetime, make index
# combine to be able to use together when possibly searching for anomalies in time increments
df['timestamp'] = df.date +' ' + df.timestamp
df.drop(columns=('date'), inplace=True)

In [9]:
df.set_index(['timestamp'], inplace=True)

In [10]:
df.tail()

                                             content  num1  num2            ip
timestamp
2019-11-19 10:06:28  spring/fundamentals/controllers   445  33.0  97.105.19.58
2019-11-19 10:06:50        spring/fundamentals/views   445  33.0  97.105.19.58
2019-11-19 10:07:03           8-clustering/3-wrangle   475  34.0  97.105.19.58
2019-11-19 10:07:07       7-classification/2-acquire   475  34.0  97.105.19.58
2019-11-19 10:07:45         search/search_index.json   455  33.0  97.105.19.58

In [11]:
df.num1.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543])

In [12]:
# look through content to look at path, potentially separate out path?
df['content'].nunique()

1641

In [13]:
# split content string on / to separate into new columns
df['content'] = df.content.str.split('/')

In [14]:
df.content

timestamp
2018-01-26 09:55:03                                                 [, ]
2018-01-26 09:56:02                                            [java-ii]
2018-01-26 09:56:05               [java-ii, object-oriented-programming]
2018-01-26 09:56:06                [slides, object_oriented_programming]
2018-01-26 09:56:24                         [javascript-i, conditionals]
2018-01-26 09:56:41                                [javascript-i, loops]
2018-01-26 09:56:46                         [javascript-i, conditionals]
2018-01-26 09:56:48                            [javascript-i, functions]
2018-01-26 09:56:59                                [javascript-i, loops]
2018-01-26 09:58:26                            [javascript-i, functions]
2018-01-26 09:59:22                          [mkdocs, search_index.json]
2018-01-26 10:00:02    [javascript-i, introduction, working-with-data...
2018-01-26 10:00:37                                                 [, ]
2018-01-26 10:00:39                                       [javascript-i]
2018-01-26 10:00:44    [javascript-i, introduction, working-with-data...
2018-01-26 10:00:49              [javascript-i, introduction, variables]
2018-01-26 10:00:57              [javascript-i, introduction, operators]
2018-01-26 10:01:12    [javascript-i, introduction, working-with-data...
2018-01-26 10:02:02                            [javascript-i, functions]
2018-01-26 10:02:21                            [javascript-i, functions]
2018-01-26 10:02:42                            [javascript-i, functions]
2018-01-26 10:05:26                         [javascript-i, conditionals]
2018-01-26 10:05:36                            [javascript-i, functions]
2018-01-26 10:08:22                          [mkdocs, search_index.json]
2018-01-26 10:08:34                           [git, merge-conflict-demo]
2018-01-26 10:08:45                          [mkdocs, search_index.json]
2018-01-26 10:08:55                              [git, working-in-teams]
2018-01-26 10:09:15        [javascript-i, introduction, primitive-types]
2018-01-26 10:09:24              [javascript-i, introduction, operators]
2018-01-26 10:10:16                            [javascript-i, functions]
                                             ...
2019-11-19 10:00:27                                           [html-css]
2019-11-19 10:00:29           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:00:33           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:00:40           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:00:54           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:01:23                    [10-anomaly-detection, exercises]
2019-11-19 10:01:25                           [6-regression, 1-overview]
2019-11-19 10:01:40                 [9-timeseries, 5.1-modeling-lesson1]
2019-11-19 10:01:50           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:02:00           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:02:24           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:02:38                               [9-timeseries, 3-prep]
2019-11-19 10:03:01                            [9-timeseries, 2-acquire]
2019-11-19 10:03:48                                                 [, ]
2019-11-19 10:04:02                                                [toc]
2019-11-19 10:04:04                                             [spring]
2019-11-19 10:04:08           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:04:12                                           [appendix]
2019-11-19 10:04:19                        [appendix, capstone-workbook]
2019-11-19 10:04:27                          [search, search_index.json]
2019-11-19 10:05:00                              [9-timeseries, project]
2019-11-19 10:05:53     [html-css, css-i, flexbox, flexbox-fundamentals]
2019-11-19 10:06:13           [html-css, css-ii, bootstrap-introduction]
2019-11-19 10:06:21                                    [jquery, effects]
2019-11-19 10:06:26                                             [jquery]
2019-11-19 10:06:28                  [spring, fundamentals, controllers]
2019-11-19 10:06:50                        [spring, fundamentals, views]
2019-11-19 10:07:03                            [8-clustering, 3-wrangle]
2019-11-19 10:07:07                        [7-classification, 2-acquire]
2019-11-19 10:07:45                          [search, search_index.json]
Name: content, Length: 399195, dtype: object

In [15]:
# create new columns to separate out path

In [16]:
df.content.value_counts()

[, ]                                                                                 20564
[javascript-i]                                                                        8140
[search, search_index.json]                                                           7005
[toc]                                                                                 6679
[html-css]                                                                            6143
[java-iii]                                                                            6003
[spring]                                                                              5761
[jquery]                                                                              5501
[java-ii]                                                                             5386
[mysql]                                                                               5103
[java-i]                                                                              5039
[javascript-ii]                                                                       5024
[mysql, tables]                                                                       3692
[html-css, elements]                                                                  3644
[javascript-i, functions]                                                             3585
[javascript-i, javascript-with-html]                                                  3452
[appendix]                                                                            3431
[mysql, databases]                                                                    3430
[javascript-i, introduction, working-with-data-types-operators-and-variables]         3326
[javascript-i, loops]                                                                 3298
[mysql, users]                                                                        3231
[html-css, css-ii, bootstrap-introduction]                                            3211
[html-css, css-ii, bootstrap-grid-system]                                             3203
[java-iii, jsp-and-jstl]                                                              3140
[html-css, forms]                                                                     3112
[javascript-i, conditionals]                                                          3101
[mysql, basic-statements]                                                             3092
[spring, fundamentals, views]                                                         2913
[java-iii, servlets]                                                                  2910
[java-ii, object-oriented-programming]                                                2910
                                                                                     ...
[cohorts, 27, quizzes]                                                                   1
[Correlation.md]                                                                         1
[2.00.01_Navigating_Excel.md]                                                            1
[1._Fundamentals, index.html]                                                            1
[annotations]                                                                            1
[capstone, 52]                                                                           1
[quiz118]                                                                                1
[cohorts, %7Bid%7D, grades.csvhttp:, , tools.codeup.com, cohorts, 26, grades.csv]        1
[content, mysql, intro-to-mysql, index.html]                                             1
[quic, 115]                                                                              1
[quiz115]                                                                                1
[student-page]                                                                           1
[content, html-css, elements-i, lists.html]                                              1
[6-regression, univariate_regression_in_excel]                                           1
[alumni]                                                                                 1
[6.03_Explore]                                                                           1
[6.04.01_Preprocessing]                                                                  1
[6.04.05_SVM]                                                                            1
[7.04.02_Hierarchical]                                                                   1
[10.00_Intro.html]                                                                       1
[sql]                                                                                    1
[habn]                                                                                   1
[extra-features, json-response]                                                          1
[extra-features, file-upload]                                                            1
[Python_Libraries]                                                                       1
[jquery, traversing]                                                                     1
[content, appendix, postwork, facebook-clone.html]                                       1
[capstone]                                                                               1
[capstone, 50]                                                                           1
[5.04.04_LeastAngleRegression]                                                           1
Name: content, Length: 1641, dtype: int64

In [17]:
df.ip.nunique()

2585

In [18]:
df.ip.value_counts()

97.105.19.58       227220
97.105.19.61        61662
192.171.117.210      8127
70.122.40.62         1338
66.69.108.117        1199
173.174.211.206      1019
108.65.244.91        1007
170.248.173.245       997
67.11.157.190         972
66.69.62.219          934
70.118.8.243          876
72.181.104.64         865
170.248.173.247       828
216.1.153.162         823
67.11.215.97          818
76.185.131.226        793
173.173.113.51        779
67.11.239.2           777
99.61.24.168          765
67.10.174.56          739
72.181.98.75          681
45.23.250.16          663
67.10.161.55          651
136.50.18.71          631
76.204.31.63          618
4.16.216.161          610
72.181.110.80         607
170.248.173.246       590
67.10.166.10          578
70.121.163.5          577
                    ...
72.181.37.22            1
99.203.26.219           1
70.114.21.86            1
99.203.27.185           1
165.91.12.128           1
174.207.16.237          1
103.208.220.141         1
131.194.172.30          1
173.239.232.28          1
136.49.24.186           1
71.40.4.250             1
107.77.217.216          1
173.127.91.200          1
172.56.6.37             1
70.120.46.111           1
71.42.245.250           1
107.77.198.150          1
99.203.155.182          1
99.203.26.118           1
104.223.95.92           1
99.203.27.110           1
99.203.155.98           1
110.77.182.112          1
196.52.2.59             1
70.117.59.30            1
103.208.220.132         1
209.107.210.228         1
174.255.135.219         1
199.116.118.166         1
74.3.157.69             1
Name: ip, Length: 2585, dtype: int64

In [19]:
df.ip.nunique()

2585

In [20]:
df.head()

,content,num1,num2,ip
timestamp,,,,
2018-01-26 09:55:03,"[, ]",1,8.0,97.105.19.61
2018-01-26 09:56:02,[java-ii],1,8.0,97.105.19.61
2018-01-26 09:56:05,"[java-ii, object-oriented-programming]",1,8.0,97.105.19.61
2018-01-26 09:56:06,"[slides, object_oriented_programming]",1,8.0,97.105.19.61
2018-01-26 09:56:24,"[javascript-i, conditionals]",2,22.0,97.105.19.61

In [21]:
df.num1.nunique()

543

In [22]:
df.num1.head()

timestamp
2018-01-26 09:55:03    1
2018-01-26 09:56:02    1
2018-01-26 09:56:05    1
2018-01-26 09:56:06    1
2018-01-26 09:56:24    2
Name: num1, dtype: int64

In [23]:
df.num1.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543])

In [24]:
# cohort number = num2 column
df.num2.value_counts()

29.0    35969
24.0    35039
33.0    34433
22.0    28875
23.0    28056
32.0    26801
26.0    26760
25.0    25233
31.0    22665
28.0    20677
27.0    20198
34.0    15519
51.0    10835
14.0     9069
1.0      8877
21.0     7181
17.0     3792
52.0     2896
13.0     2610
8.0      1671
18.0     1603
19.0     1142
16.0      740
15.0      691
7.0       461
12.0      270
11.0      204
2.0        93
6.0        72
9.0         5
4.0         4
Name: num2, dtype: int64

In [25]:
# bayes ds cohort = 34.0
df[df.num2 == 34.0]

,content,num1,num2,ip
timestamp,,,,
2019-08-20 09:39:58,"[, ]",466,34.0,97.105.19.58
2019-08-20 09:39:59,"[, ]",467,34.0,97.105.19.58
2019-08-20 09:39:59,"[, ]",468,34.0,97.105.19.58
2019-08-20 09:40:02,"[, ]",469,34.0,97.105.19.58
2019-08-20 09:40:08,"[, ]",470,34.0,97.105.19.58
2019-08-20 09:40:15,"[, ]",471,34.0,97.105.19.58
2019-08-20 09:40:15,"[, ]",472,34.0,97.105.19.58
2019-08-20 09:40:17,"[, ]",473,34.0,97.105.19.58
2019-08-20 09:40:18,"[, ]",474,34.0,97.105.19.58
2019-08-20 09:40:19,"[, ]",475,34.0,97.105.19.58
2019-08-20 09:40:23,"[, ]",476,34.0,97.105.19.58
2019-08-20 09:40:28,"[3-sql, 1-mysql-overview]",470,34.0,97.105.19.58
2019-08-20 09:40:30,"[, ]",477,34.0,97.105.19.58
2019-08-20 09:40:30,"[, ]",472,34.0,97.105.19.58
2019-08-20 09:40:30,"[2-storytelling, bad-charts]",467,34.0,97.105.19.58
2019-08-20 09:40:30,"[2-storytelling, misleading1_baseball.jpg]",467,34.0,97.105.19.58
2019-08-20 09:40:30,"[2-storytelling, misleading1_fox.jpg]",467,34.0,97.105.19.58
2019-08-20 09:40:30,"[2-storytelling, misleading3_deaths.jpg]",467,34.0,97.105.19.58
2019-08-20 09:40:37,"[, ]",478,34.0,97.105.19.58
2019-08-20 09:40:40,"[, ]",479,34.0,97.105.19.58
2019-08-20 09:40:44,"[, ]",480,34.0,97.105.19.58
2019-08-20 09:40:50,"[appendix, cli-git-overview]",479,34.0,97.105.19.58
2019-08-20 09:40:52,"[, ]",481,34.0,97.105.19.58
2019-08-20 09:40:58,"[, ]",482,34.0,97.105.19.58
2019-08-20 09:41:02,"[1-fundamentals, 1.1-intro-to-data-science]",469,34.0,97.105.19.58
2019-08-20 09:41:02,"[1-fundamentals, modern-data-scientist.jpg]",469,34.0,97.105.19.58
2019-08-20 09:41:02,"[1-fundamentals, AI-ML-DL-timeline.jpg]",469,34.0,97.105.19.58
2019-08-20 09:41:03,"[, ]",483,34.0,97.105.19.58
2019-08-20 09:41:28,"[1-fundamentals, 1.1-intro-to-data-science]",480,34.0,97.105.19.58
2019-08-20 09:41:28,"[1-fundamentals, AI-ML-DL-timeline.jpg]",480,34.0,97.105.19.58
...,...,...,...,...
2019-11-19 09:14:50,"[6-regression, 1-overview]",474,34.0,97.105.19.58
2019-11-19 09:14:58,"[9-timeseries, 5.2-modeling-lesson2]",474,34.0,97.105.19.58
2019-11-19 09:15:07,"[9-timeseries, 5.2-modeling-lesson2]",468,34.0,97.105.19.58
2019-11-19 09:16:41,"[9-timeseries, project]",471,34.0,97.105.19.58
2019-11-19 09:17:12,"[9-timeseries, project]",475,34.0,97.105.19.58
2019-11-19 09:17:17,"[9-timeseries, project]",474,34.0,97.105.19.58
2019-11-19 09:17:19,"[9-timeseries, project]",485,34.0,97.105.19.58
2019-11-19 09:17:26,"[9-timeseries, project]",482,34.0,97.105.19.58
2019-11-19 09:17:29,"[9-timeseries, project]",481,34.0,97.105.19.58
2019-11-19 09:17:33,"[9-timeseries, 5.2-modeling-lesson2]",473,34.0,97.105.19.58
2019-11-19 09:17:34,"[9-timeseries, project]",478,34.0,97.105.19.58
2019-11-19 09:17:38,"[9-timeseries, project]",473,34.0,97.105.19.58
2019-11-19 09:17:46,"[9-timeseries, project]",468,34.0,97.105.19.58
2019-11-19 09:18:42,"[9-timeseries, project]",470,34.0,97.105.19.58
2019-11-19 09:19:40,"[, ]",472,34.0,97.105.19.58
2019-11-19 09:19:51,"[9-timeseries, project]",472,34.0,97.105.19.58
2019-11-19 09:21:17,"[9-timeseries, project]",477,34.0,97.105.19.58
2019-11-19 09:25:05,"[9-timeseries, project]",469,34.0,97.105.19.58
2019-11-19 09:28:08,"[9-timeseries, 5.1-modeling-lesson1]",469,34.0,97.105.19.58
2019-11-19 09:28:47,"[, ]",479,34.0,97.105.19.58
2019-11-19 09:31:40,"[9-timeseries, project]",480,34.0,97.105.19.58
2019-11-19 09:32:35,"[9-timeseries, project]",483,34.0,97.105.19.58
2019-11-19 09:43:23,"[9-timeseries, project]",469,34.0,97.105.19.58
2019-11-19 09:44:51,"[9-timeseries, project]",358,34.0,97.105.19.58
2019-11-19 10:01:40,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-19 10:02:38,"[9-timeseries, 3-prep]",467,34.0,97.105.19.58
2019-11-19 10:03:01,"[9-timeseries, 2-acquire]",475,34.0,97.105.19.58
2019-11-19 10:05:00,"[9-timeseries, project]",472,34.0,97.105.19.58
2019-11-19 10:07:03,"[8-clustering, 3-wrangle]",475,34.0,97.105.19.58
2019-11-19 10:07:07,"[7-classification, 2-acquire]",475,34.0,97.105.19.58

In [26]:
df.num2.nunique()

31

In [27]:
df.num2.unique()

array([ 8., 22., 21.,  1., 16., 18., 19., nan, 13., 14., 15.,  7.,  4.,
       12., 17., 23.,  2.,  9., 11., 24., 25., 26.,  6., 27., 28., 29.,
       31., 32., 33., 34., 51., 52.])

In [28]:
# num1 is student number 
df[df.num1 == 475]

,content,num1,num2,ip
timestamp,,,,
2019-08-20 09:40:19,"[, ]",475,34.0,97.105.19.58
2019-08-20 10:46:35,"[1-fundamentals, 1.1-intro-to-data-science]",475,34.0,97.105.19.58
2019-08-20 10:46:36,"[1-fundamentals, modern-data-scientist.jpg]",475,34.0,97.105.19.58
2019-08-20 10:46:36,"[1-fundamentals, AI-ML-DL-timeline.jpg]",475,34.0,97.105.19.58
2019-08-20 10:50:11,"[1-fundamentals, 1.1-intro-to-data-science]",475,34.0,97.105.19.58
2019-08-20 10:50:12,"[1-fundamentals, modern-data-scientist.jpg]",475,34.0,97.105.19.58
2019-08-20 10:50:12,"[1-fundamentals, AI-ML-DL-timeline.jpg]",475,34.0,97.105.19.58
2019-08-21 09:20:11,"[, ]",475,34.0,97.105.19.58
2019-08-21 09:20:52,"[1-fundamentals, 1.1-intro-to-data-science]",475,34.0,97.105.19.58
2019-08-21 09:20:52,"[1-fundamentals, modern-data-scientist.jpg]",475,34.0,97.105.19.58
2019-08-21 09:20:52,"[1-fundamentals, AI-ML-DL-timeline.jpg]",475,34.0,97.105.19.58
2019-08-21 09:42:34,"[1-fundamentals, 1.2-data-science-pipeline]",475,34.0,97.105.19.58
2019-08-21 09:42:35,"[1-fundamentals, DataToAction_v2.jpg]",475,34.0,97.105.19.58
2019-08-21 11:30:03,"[1-fundamentals, 1.3-pipeline-demo]",475,34.0,97.105.19.58
2019-08-21 11:30:56,"[1-fundamentals, 1.2-data-science-pipeline]",475,34.0,97.105.19.58
2019-08-21 11:30:56,"[1-fundamentals, DataToAction_v2.jpg]",475,34.0,97.105.19.58
2019-08-21 11:34:51,"[1-fundamentals, 1.3-pipeline-demo]",475,34.0,97.105.19.58
2019-08-21 12:08:45,"[1-fundamentals, 1.2-data-science-pipeline]",475,34.0,97.105.19.58
2019-08-21 12:08:46,"[1-fundamentals, DataToAction_v2.jpg]",475,34.0,97.105.19.58
2019-08-21 12:34:18,"[1-fundamentals, 1.1-intro-to-data-science]",475,34.0,97.105.19.58
2019-08-21 12:34:18,"[1-fundamentals, modern-data-scientist.jpg]",475,34.0,97.105.19.58
2019-08-21 12:34:19,"[1-fundamentals, AI-ML-DL-timeline.jpg]",475,34.0,97.105.19.58
2019-08-21 12:35:07,"[1-fundamentals, 1.2-data-science-pipeline]",475,34.0,97.105.19.58
2019-08-21 12:35:08,"[1-fundamentals, DataToAction_v2.jpg]",475,34.0,97.105.19.58
2019-08-21 12:52:00,"[1-fundamentals, 1.1-intro-to-data-science]",475,34.0,97.105.19.58
2019-08-21 12:52:00,"[1-fundamentals, modern-data-scientist.jpg]",475,34.0,97.105.19.58
2019-08-21 12:52:01,"[1-fundamentals, AI-ML-DL-timeline.jpg]",475,34.0,97.105.19.58
2019-08-21 13:31:10,"[1-fundamentals, 1.3-pipeline-demo]",475,34.0,97.105.19.58
2019-08-21 13:37:02,"[6-regression, 1-overview]",475,34.0,97.105.19.58
2019-08-21 14:44:28,"[1-fundamentals, 1.2-data-science-pipeline]",475,34.0,97.105.19.58
...,...,...,...,...
2019-11-17 20:39:59,"[9-timeseries, 3-prep]",475,34.0,70.226.109.182
2019-11-17 21:47:50,"[9-timeseries, 4-explore]",475,34.0,70.226.109.182
2019-11-18 09:04:50,"[, ]",475,34.0,97.105.19.58
2019-11-18 09:05:12,"[9-timeseries, 4-explore]",475,34.0,97.105.19.58
2019-11-18 13:31:02,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-18 13:32:20,"[9-timeseries, project]",475,34.0,97.105.19.58
2019-11-18 13:32:32,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-18 13:35:51,"[9-timeseries, 5.2-modeling-lesson2]",475,34.0,97.105.19.58
2019-11-18 13:35:55,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-18 15:27:58,"[9-timeseries, 5.2-modeling-lesson2]",475,34.0,97.105.19.58
2019-11-18 15:28:00,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-18 15:35:33,"[9-timeseries, 3-prep]",475,34.0,97.105.19.58
2019-11-18 15:36:24,"[9-timeseries, 4-explore]",475,34.0,97.105.19.58
2019-11-18 15:45:22,"[9-timeseries, 3-prep]",475,34.0,97.105.19.58
2019-11-18 15:52:13,"[8-clustering, 3-wrangle]",475,34.0,97.105.19.58
2019-11-18 15:52:31,"[8-clustering, 4-explore]",475,34.0,97.105.19.58
2019-11-18 15:52:38,"[7-classification, 3-prep]",475,34.0,97.105.19.58
2019-11-18 15:53:12,"[6-regression, 2.0-acquire-and-prep]",475,34.0,97.105.19.58
2019-11-18 15:56:55,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-18 15:57:55,"[9-timeseries, 4-explore]",475,34.0,97.105.19.58
2019-11-18 16:07:23,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-18 16:42:37,"[9-timeseries, 4-explore]",475,34.0,97.105.19.58
2019-11-18 16:49:34,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-19 08:56:45,"[, ]",475,34.0,97.105.19.58
2019-11-19 09:00:41,"[9-timeseries, 5.2-modeling-lesson2]",475,34.0,97.105.19.58
2019-11-19 09:17:12,"[9-timeseries, project]",475,34.0,97.105.19.58
2019-11-19 10:01:40,"[9-timeseries, 5.1-modeling-lesson1]",475,34.0,97.105.19.58
2019-11-19 10:03:01,"[9-timeseries, 2-acquire]",475,34.0,97.105.19.58
2019-11-19 10:07:03,"[8-clustering, 3-wrangle]",475,34.0,97.105.19.58
2019-11-19 10:07:07,"[7-classification, 2-acquire]",475,34.0,97.105.19.58

In [29]:
(df.num1 == 475).sum()

1316

In [30]:
#plt.plot(df.num1 == 475)

In [31]:
df.head()

,content,num1,num2,ip
timestamp,,,,
2018-01-26 09:55:03,"[, ]",1,8.0,97.105.19.61
2018-01-26 09:56:02,[java-ii],1,8.0,97.105.19.61
2018-01-26 09:56:05,"[java-ii, object-oriented-programming]",1,8.0,97.105.19.61
2018-01-26 09:56:06,"[slides, object_oriented_programming]",1,8.0,97.105.19.61
2018-01-26 09:56:24,"[javascript-i, conditionals]",2,22.0,97.105.19.61

In [33]:
df.content.value_counts()

[, ]                                                                                 20564
[javascript-i]                                                                        8140
[search, search_index.json]                                                           7005
[toc]                                                                                 6679
[html-css]                                                                            6143
[java-iii]                                                                            6003
[spring]                                                                              5761
[jquery]                                                                              5501
[java-ii]                                                                             5386
[mysql]                                                                               5103
[java-i]                                                                              5039
[javascript-ii]                                                                       5024
[mysql, tables]                                                                       3692
[html-css, elements]                                                                  3644
[javascript-i, functions]                                                             3585
[javascript-i, javascript-with-html]                                                  3452
[appendix]                                                                            3431
[mysql, databases]                                                                    3430
[javascript-i, introduction, working-with-data-types-operators-and-variables]         3326
[javascript-i, loops]                                                                 3298
[mysql, users]                                                                        3231
[html-css, css-ii, bootstrap-introduction]                                            3211
[html-css, css-ii, bootstrap-grid-system]                                             3203
[java-iii, jsp-and-jstl]                                                              3140
[html-css, forms]                                                                     3112
[javascript-i, conditionals]                                                          3101
[mysql, basic-statements]                                                             3092
[spring, fundamentals, views]                                                         2913
[java-iii, servlets]                                                                  2910
[java-ii, object-oriented-programming]                                                2910
                                                                                     ...
[cohorts, 27, quizzes]                                                                   1
[Correlation.md]                                                                         1
[2.00.01_Navigating_Excel.md]                                                            1
[1._Fundamentals, index.html]                                                            1
[annotations]                                                                            1
[capstone, 52]                                                                           1
[quiz118]                                                                                1
[cohorts, %7Bid%7D, grades.csvhttp:, , tools.codeup.com, cohorts, 26, grades.csv]        1
[content, mysql, intro-to-mysql, index.html]                                             1
[quic, 115]                                                                              1
[quiz115]                                                                                1
[student-page]                                                                           1
[content, html-css, elements-i, lists.html]                                              1
[6-regression, univariate_regression_in_excel]                                           1
[alumni]                                                                                 1
[6.03_Explore]                                                                           1
[6.04.01_Preprocessing]                                                                  1
[6.04.05_SVM]                                                                            1
[7.04.02_Hierarchical]                                                                   1
[10.00_Intro.html]                                                                       1
[sql]                                                                                    1
[habn]                                                                                   1
[extra-features, json-response]                                                          1
[extra-features, file-upload]                                                            1
[Python_Libraries]                                                                       1
[jquery, traversing]                                                                     1
[content, appendix, postwork, facebook-clone.html]                                       1
[capstone]                                                                               1
[capstone, 50]                                                                           1
[5.04.04_LeastAngleRegression]                                                           1
Name: content, Length: 1641, dtype: int64

In [41]:
df.index

Index(['2018-01-26 09:55:03', '2018-01-26 09:56:02', '2018-01-26 09:56:05',
       '2018-01-26 09:56:06', '2018-01-26 09:56:24', '2018-01-26 09:56:41',
       '2018-01-26 09:56:46', '2018-01-26 09:56:48', '2018-01-26 09:56:59',
       '2018-01-26 09:58:26',
       ...
       '2019-11-19 10:05:00', '2019-11-19 10:05:53', '2019-11-19 10:06:13',
       '2019-11-19 10:06:21', '2019-11-19 10:06:26', '2019-11-19 10:06:28',
       '2019-11-19 10:06:50', '2019-11-19 10:07:03', '2019-11-19 10:07:07',
       '2019-11-19 10:07:45'],
      dtype='object', name='timestamp', length=399195)

In [ ]:
# start date 2018-01-26
# end date 2019-11-19

In [47]:
len(df.content.value_counts())

1641

In [48]:
df.shape

(399195, 4)

In [49]:
df.content.value_counts()

[, ]                                                                                 20564
[javascript-i]                                                                        8140
[search, search_index.json]                                                           7005
[toc]                                                                                 6679
[html-css]                                                                            6143
[java-iii]                                                                            6003
[spring]                                                                              5761
[jquery]                                                                              5501
[java-ii]                                                                             5386
[mysql]                                                                               5103
[java-i]                                                                              5039
[javascript-ii]                                                                       5024
[mysql, tables]                                                                       3692
[html-css, elements]                                                                  3644
[javascript-i, functions]                                                             3585
[javascript-i, javascript-with-html]                                                  3452
[appendix]                                                                            3431
[mysql, databases]                                                                    3430
[javascript-i, introduction, working-with-data-types-operators-and-variables]         3326
[javascript-i, loops]                                                                 3298
[mysql, users]                                                                        3231
[html-css, css-ii, bootstrap-introduction]                                            3211
[html-css, css-ii, bootstrap-grid-system]                                             3203
[java-iii, jsp-and-jstl]                                                              3140
[html-css, forms]                                                                     3112
[javascript-i, conditionals]                                                          3101
[mysql, basic-statements]                                                             3092
[spring, fundamentals, views]                                                         2913
[java-iii, servlets]                                                                  2910
[java-ii, object-oriented-programming]                                                2910
                                                                                     ...
[cohorts, 27, quizzes]                                                                   1
[Correlation.md]                                                                         1
[2.00.01_Navigating_Excel.md]                                                            1
[1._Fundamentals, index.html]                                                            1
[annotations]                                                                            1
[capstone, 52]                                                                           1
[quiz118]                                                                                1
[cohorts, %7Bid%7D, grades.csvhttp:, , tools.codeup.com, cohorts, 26, grades.csv]        1
[content, mysql, intro-to-mysql, index.html]                                             1
[quic, 115]                                                                              1
[quiz115]                                                                                1
[student-page]                                                                           1
[content, html-css, elements-i, lists.html]                                              1
[6-regression, univariate_regression_in_excel]                                           1
[alumni]                                                                                 1
[6.03_Explore]                                                                           1
[6.04.01_Preprocessing]                                                                  1
[6.04.05_SVM]                                                                            1
[7.04.02_Hierarchical]                                                                   1
[10.00_Intro.html]                                                                       1
[sql]                                                                                    1
[habn]                                                                                   1
[extra-features, json-response]                                                          1
[extra-features, file-upload]                                                            1
[Python_Libraries]                                                                       1
[jquery, traversing]                                                                     1
[content, appendix, postwork, facebook-clone.html]                                       1
[capstone]                                                                               1
[capstone, 50]                                                                           1
[5.04.04_LeastAngleRegression]                                                           1
Name: content, Length: 1641, dtype: int64

In [54]:
from scipy.stats import entropy

In [55]:
def compute_entropy(series):
    counts = series.value_counts()
    if len(counts)==1:
        ent = 0
    else:
        value, counts = np.unique(series, return_counts=True)
        ent = entropy(counts, base=None)
    return ent

In [56]:
compute_entropy(df.content)

5.421441033159645