1. Copy the data below and save it as bayes.json

In [67]:
from pprint import pprint
import json

2. Do your work in a python script, jupyter notebook, or interactive python (or ipython) session.

3. Import the json module and use the json.load function to read the bayes.json file you created.

In [69]:
with open('./bayes.json') as f:
    bayes = json.load(f)
    
pprint(bayes)

{'Floor': 6,
 'Instructors': [{'favoriteLanguages': ['python', 'clojure'], 'name': 'Ryan'},
                 {'favoriteLanguages': ['python', 'R', 'java'],
                  'name': 'Maggie'},
                 {'favoriteLanguages': ['python', 'matlab'], 'name': 'David'},
                 {'favoriteLanguages': ['python', 'bash'], 'name': 'Zach'}],
 'Location': 'Blanco',
 'Students': [{'examGrades': [62, 85, 80], 'name': 'Sally'},
              {'examGrades': [88, 79, 67], 'name': 'Jane'},
              {'examGrades': [94, 74, 95], 'name': 'Suzie'},
              {'examGrades': [98, 96, 88], 'name': 'Billy'},
              {'examGrades': [77, 92, 98], 'name': 'Ada'},
              {'examGrades': [79, 76, 93], 'name': 'John'},
              {'examGrades': [82, 64, 81], 'name': 'Thomas'},
              {'examGrades': [93, 63, 90], 'name': 'Marie'},
              {'examGrades': [92, 62, 87], 'name': 'Albert'},
              {'examGrades': [69, 80, 94], 'name': 'Richard'},
              {'examGrades': [92, 99, 93], 'name': 'Isaac'},
              {'examGrades': [92, 62, 72], 'name': 'Alan'}],
 'isActive': True}

4. Write the code necessary to answer the following questions:

    - Print out a message that gives the location of the class using the location and the floor properties.
    - If the class is active, print a message that says so.
    - Print out the number of students and number of instructors.
    - Print out the name of the instructor that has the most favorite languages.
    - Import pandas and create a dataframe from the student data. What do you notice?

In [71]:
# Print out a message that gives the location of the class using the location and the floor properties.
floor = bayes['Floor']
location = bayes['Location']

print('The location of the classroom is {} on the {} floor.'.format(location, floor))

The location of the classroom is Blanco on the 6 floor

In [72]:
# If the class is active, print a message that says so.
if bayes['isActive']:
    print("Class is active!")

Class is active!

In [75]:
# Print out the number of students and number of instructors.
print('Number of students in list is', len(bayes['Students']))
print('Number of instructors in list is', len(bayes['Instructors']))

Number of students in list is 12
Number of instructors in list is 4

In [74]:
# Print out the name of the instructor that has the most favorite languages.
instructors = bayes['Instructors']
for instructor in instructors:

[{'name': 'Ryan', 'favoriteLanguages': ['python', 'clojure']},
 {'name': 'Maggie', 'favoriteLanguages': ['python', 'R', 'java']},
 {'name': 'David', 'favoriteLanguages': ['python', 'matlab']},
 {'name': 'Zach', 'favoriteLanguages': ['python', 'bash']}]

In [32]:
# Import pandas and create a dataframe from the student data. What do you notice?
import pandas as pd

In [78]:
students = pd.DataFrame(bayes['Students'])
students
grades = students.examGrades.apply(pd.Series)
students.join(grades)

      examGrades     name   0   1   2
0   [62, 85, 80]    Sally  62  85  80
1   [88, 79, 67]     Jane  88  79  67
2   [94, 74, 95]    Suzie  94  74  95
3   [98, 96, 88]    Billy  98  96  88
4   [77, 92, 98]      Ada  77  92  98
5   [79, 76, 93]     John  79  76  93
6   [82, 64, 81]   Thomas  82  64  81
7   [93, 63, 90]    Marie  93  63  90
8   [92, 62, 87]   Albert  92  62  87
9   [69, 80, 94]  Richard  69  80  94
10  [92, 99, 93]    Isaac  92  99  93
11  [92, 62, 72]     Alan  92  62  72

In [58]:
bayes['Instructors']

[{'name': 'Ryan', 'favoriteLanguages': ['python', 'clojure']},
 {'name': 'Maggie', 'favoriteLanguages': ['python', 'R', 'java']},
 {'name': 'David', 'favoriteLanguages': ['python', 'matlab']},
 {'name': 'Zach', 'favoriteLanguages': ['python', 'bash']}]

In [49]:
bayes['Students']

[{'name': 'Sally', 'examGrades': [62, 85, 80]},
 {'name': 'Jane', 'examGrades': [88, 79, 67]},
 {'name': 'Suzie', 'examGrades': [94, 74, 95]},
 {'name': 'Billy', 'examGrades': [98, 96, 88]},
 {'name': 'Ada', 'examGrades': [77, 92, 98]},
 {'name': 'John', 'examGrades': [79, 76, 93]},
 {'name': 'Thomas', 'examGrades': [82, 64, 81]},
 {'name': 'Marie', 'examGrades': [93, 63, 90]},
 {'name': 'Albert', 'examGrades': [92, 62, 87]},
 {'name': 'Richard', 'examGrades': [69, 80, 94]},
 {'name': 'Isaac', 'examGrades': [92, 99, 93]},
 {'name': 'Alan', 'examGrades': [92, 62, 72]}]

In [59]:
bayes['isActive']

True

In [61]:
bayes['Floor']

6

In [66]:
bayes['Location']

'Blanco'